<style>
  
#masonry {
  column-count: 2;
  column-gap: 1em;
}

@media(min-width: 30em) {
  #masonry {
    column-count: 3;
    column-gap: 1em;
  }
}

@media(min-width: 40em) {
  #masonry {
    column-count: 4;
    column-gap: 1em;
  }
}

@media(min-width: 60em) {
  #masonry {
    column-count: 5;
    column-gap: 1em;
  }
}

@media(min-width: 75em) {
  #masonry {
    column-count: 6;
    column-gap: 1em;
  }
}

.avisBox {
  display: inline-block;
  margin: 0 0 1em 0;
  width: 100%;
  background-color: {{ section.settings.background-carte }};
  -webkit-box-shadow: 0px 0px {{ section.settings.cart-shadow-size }}px {{ section.settings.cart-shadow-color }};
  -moz-box-shadow: 0px 0px {{ section.settings.cart-shadow-size }}px {{ section.settings.cart-shadow-color }};
  box-shadow: 0px 0px {{ section.settings.cart-shadow-size }}px {{ section.settings.cart-shadow-color }};
  overflow: hidden;
  border-radius: {{ section.settings.carte-radius }}px;
  color: {{ section.settings.color-carte }};
  border: {{ section.settings.border-size }}px solid {{ section.settings.border-color }};
}

.avisBox img {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: -4px;
  /*idk why but this fix stuff*/
}

.avisBox.active {
  animation-name: active-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.avisBox.active:before {
  content: "+";
  transform: rotate(45deg);
  font-size: 48px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color:rgba(0,0,0,0.85);
  border-radius: 50%;
  width:48px;
  height:48px;
  text-align:center;
  line-height:48px;
  z-index:12;
}

.avisBox.active img {
  animation-name: active-in-img;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}


@keyframes active-in {
  0% {
    opacity:1;
    background-color:white;
  }
  
  50% {
    opacity:0;
    background-color:rgba(0,0,0,0.90);
  }
  
  100% {
    opacity: 1;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.90);
  }
}

@keyframes active-in-img {
  0% {
    opacity:1;
    transform:translate(0%, 0%);
    top: 0;
    left: 0;
    max-width: 100%;
  }
  49% {
    opacity:0;
    transform: translate(0%, -50%);
  }
  50% {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  100% {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: auto;
  max-height: 95vh;
  opacity:1;
  }
}

#shopify-section-{{ section.id }} {
	background: -webkit-linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }}); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }});
	padding: {{ section.settings.phb }}px 0px
}

.avis-block {
  max-width: 90em;
}
  
.avisRating {
  padding: {{ section.settings.margin-star }}px 0px;
}
  
.avisMainImage {
  padding: {{ section.settings.carte-padding-img }}px;
}
  
.etoile {
  font-size: {{ section.settings.etoile-size}}px;
  color: {{ section.settings.etoile-color }};
}
  
.avisMain {
  padding: {{ section.settings.carte-padding-main }}px;
}
  
.carousel-control {
  color: {{ section.settings.arrow-color }};
}
  
.carousel-control:hover {
  color: {{ section.settings.arrow-color-hover }}!important;
}

{% if section.settings.enable-first-letter %}
  .mainHeading.firstletteravis::first-letter {
    color: {{ section.settings.first-letter-color }};
  }
{% endif %}
  
</style>

<div class="page-contain">
  <div class="page-width">
  	{% if section.settings.title != blank %}
      <div class="section-header" style="
          text-align: {{ section.settings.align-title }};
      ">
        <h{{ section.settings.title-tag }} class="section-header__title" style="
          color: {{ section.settings.titles-color }};
        " data-aos="{{ settings.title-aos }}">
          {% if section.settings.favicon %}
          <img style="
            margin-bottom: {{ section.settings.favicon-mb }}px;
            margin-right: {{ section.settings.favicon-mr }}px;
          " width="{{ section.settings.favicon-size }}px" src="{{ section.settings.favicon.src | img_url: "720x" }}" />
          {% endif %}
          {{ section.settings.title | escape }}
        </h{{ section.settings.title-tag }}>
        {% if section.settings.enable-bb %}
          <div style=" 
            border-bottom-style: solid;
            border-bottom-width: {{ section.settings.bbwidth }}px;
            width: {{ section.settings.bblength }}%;
            height: 100%;
            margin: {{ section.settings.bbmt }}px {% if section.settings.align-title == "center" %}auto{% else %}0{% endif %};
            border-bottom-color: {{ section.settings.bordercolor }};"
            data-aos="{{ settings.bb-aos }}"
           >
           </div>
        {% endif %}
        {% if section.settings.subtitle != blank %}
          <div class="rte" style="
              margin-top: {{ section.settings.hautsoustitre }}px;
              color: {{ section.settings.subtitlecolor }};
          " data-aos="{{ settings.soustitre-aos }}">
            <p>{{ section.settings.subtitle }}</p>
          </div>
        {% endif %}

        {% if section.settings.enable-startop %}
        <div class="startop" style="
            display: flex;
            align-items: center;
            justify-content: {{ section.settings.align-title }};
            font-size: {{ section.settings.startop-size }}px;
            margin: {{ section.settings.hautsous }}px 0;
        " data-aos="{{ settings.etoile-aos }}">
        {% for i in (1..5) %}
          {% if i <= section.settings.startop %}
          <span class="fa fa-star" style="
              color: {{ section.settings.startop-color }};
          "></span>
          {% else %}
            {% assign t = i | minus: 1 %}
            {% if section.settings.startop > t and section.settings.startop < i %}
            <span class="fas fa-star-half-alt" style="
              color: {{ section.settings.startop-color }};
            "></span>
            {% else %}
            <span class="fa fa-star-o" style="
                color: {{ section.settings.startop-color }};
            "></span>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
        {% endif %}
      </div>
  	{% endif %}

	<div id="masonry">
    {% for block in section.blocks %}
      <div class="avisBox" data-aos="{{ settings.reviews-aos }}">
        {% if block.settings.enable-img %}
        <div class="avisMainImage">
          {% if block.settings.image2 == blank and block.settings.image3 == blank %}
          <div class="avisImage">
            {% if block.settings.image %}
            <img class="firstImage" src="{{ block.settings.image.src | img_url: "720x" }}" />
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg svg-review' }}
            {% endif %}
          </div>
          {% else %}
          <div id="carousel-example-generic-{{ first }}" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic-{{ first }}" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic-{{ first }}" data-slide-to="1"></li>
              {% if block.settings.image3 %}
              <li data-target="#carousel-example-generic-{{ first }}" data-slide-to="2"></li>
              {% endif %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="{{ block.settings.image.src | img_url: "720x" }}" alt="avisCarousel">
              </div>
              <div class="item">
                <img src="{{ block.settings.image2.src | img_url: "720x" }}" alt="avisCarousel">
              </div>
              {% if block.settings.image3 %}
              <div class="item">
                <img src="{{ block.settings.image3.src | img_url: "720x" }}" alt="avisCarousel">
              </div>
              {% endif %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic-{{ first }}" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic-{{ first }}" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
          {% endif %}
        </div>
        {% endif %}
        <div class="avisMain" style="
           text-align: {{ section.settings.content-align }};
		">
          {% if section.settings.enable-name %}
          <h{{ section.settings.name-size }} class="mainName">{{ block.settings.name }} {% if block.settings.validate-it %}<i style="color: {{ section.settings.validate-color }}" class="fa fa-check-circle"></i>{% endif %}</h{{ section.settings.name-size }}>
          {% endif %}
          {% if section.settings.enable-date %}
          <div class="avisDate">{{ block.settings.date }}</div>
          {% endif %}
          {% if section.settings.enable-stars %}
          <div class="avisRating">
            {% for i in (1..5) %}
              {% if i <= block.settings.star %}
              <span class="fa fa-star etoile"></span>
              {% else %}
                {% assign p = i | minus: 1 %}
                {% if block.settings.star > p and block.settings.star < i %}
                <span class="fas fa-star-half-alt etoile"></span>
                {% else %}
                <span class="fa fa-star-o etoile"></span>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          {% if section.settings.enable-avis %}
          <div class="avisContent">
            {{ block.settings.avis }}
          </div>
          {% endif %}
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Reviews",
    "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Heading",
      "info": "La couleur du titre est éditable tout en bas.",
      "default": "Reviews"
    },
    {
      "id": "subtitle",
      "type": "textarea",
      "label": "Sous-titre"
    },
    {
      "type": "header",
      "content": "🔹 CUSTOM"
    },
    {
      "id": "background-gradient1",
      "type": "color",
      "label": "Couleur de fond dégradé 1",
      "default": "#ffffff"
    },
    {
      "id": "background-gradient2",
      "type": "color",
      "label": "Couleur de fond dégradé 2",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "gradient-side",
      "options": [
        { "value": "to left", "label": "Droite > Gauche"},
        { "value": "to right", "label": "Gauche > Droite"},
        { "value": "to bottom", "label": "Haut > Bas"},
        { "value": "to top", "label": "Bas > Haut"}
      ],
      "label": "Orientation du dégradé",
      "default": "to right"
    },
    {
      "type": "range",
      "id": "phb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Marge Haut/bas de la section",
      "default": 25
    },
    {
      "type": "paragraph",
      "content": "🔸 TITRE / SOUS-TITRE GÉNÉRAL"
    },
    {
      "type": "select",
      "id": "align-title",
      "options": [
        { "value": "center", "label": "Centre"},
        { "value": "left", "label": "Gauche"}
      ],
      "label": "Alignement du titre",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title-tag",
      "options": [
        { "value": "2", "label": "H2"},
        { "value": "3", "label": "H3"},
        { "value": "4", "label": "H4"},
        { "value": "5", "label": "H5"},
        { "value": "6", "label": "H6"}
      ],
      "label": "Balise titre",
      "default": "2"
    },
    {
      "type": "range",
      "id": "hautsoustitre",
      "min": -10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du sous-titre",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 BARRES DE TITRE"
    },
    {
      "type": "checkbox",
      "id": "enable-bb",
      "label": "Activer la barre sous le titre",
      "info": "La couleur de la barre est éditable tout en bas.",
      "default": false
    },
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 2
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas barre sous le titre",
      "default": 15
    },
    {
      "type": "paragraph",
      "content": "🔸 IMAGE À GAUCHE DU TITRE"
    },
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre",
      "info": "Active l'image dès que sélectionné"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": 0
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 COULEURS"
    },
    {
      "id": "titles-color",
      "type": "color",
      "label": "Couleur du titre",
      "default": "#000000"
    },
    {
      "id": "bordercolor",
      "type": "color",
      "label": "Couleur de barre sous le titre",
      "default": "#000000"
    },
    {
      "id": "subtitlecolor",
      "type": "color",
      "label": "Couleur du sous-titre",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "🔹 ÉTOILES GENERAL"
    },
    {
      "type": "checkbox",
      "id": "enable-startop",
      "label": "Activer les étoiles",
      "default": true
    },
    {
      "type": "range",
      "id": "startop",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "★",
      "label": "Nombre d'étoiles /5",
      "default": 5
    },
    {
      "type": "range",
      "id": "startop-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille des étoiles",
      "default": 21
    },
    {
      "type": "range",
      "id": "hautsous",
      "min": -10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas des étoiles",
      "default": 0
    },
    {
      "id": "startop-color",
      "type": "color",
      "label": "Couleur des étoiles",
      "default": "#FFE325"
    },
	{
      "type": "header",
      "content": "⬛️ CARTES"
    },
	{
      "type": "paragraph",
      "content": "🔹 BORDURES"
	},
    {
      "type": "range",
      "id": "border-size",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la bordure de l'avis",
      "default": 0
    },
    {
      "type": "range",
      "id": "carte-radius",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Arrondi des bordures de l'avis",
      "default": 3
    },
	{
		"type": "paragraph",
        "content": "🔹 MARGES"
	},
    {
      "type": "range",
      "id": "carte-padding-main",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge du contenu dans la carte",
      "default": 15
    },
    {
      "type": "range",
      "id": "carte-padding-img",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge de l'image dans la carte",
      "default": 0
    },
	{
		"type": "paragraph",
        "content": "🔹 OMBRE"
	},
    {
      "type": "range",
      "id": "cart-shadow-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Portée de l'ombre",
      "default": 15
    },
	{
		"type": "paragraph",
        "content": "🔹 COULEURS"
	},
	{
       "id": "background-carte",
       "type": "color",
       "label": "Couleur de fond de l'avis",
	   "default": "#ffffff"
	},
	{
       "id": "color-carte",
       "type": "color",
       "label": "Couleur du contenu de l'avis",
	   "default": "#000000"
	},
	{
       "id": "border-color",
       "type": "color",
       "label": "Couleur de bordure",
	   "default": "#000000"
	},
	{
       "id": "cart-shadow-color",
       "type": "color",
       "label": "Couleur de l'ombre",
	   "default": "#d4d4d4"
	},
	{
       "id": "arrow-color",
       "type": "color",
       "label": "Couleur des flèches sur carousel",
	   "default": "#ffffff"
	},
	{
       "id": "arrow-color-hover",
       "type": "color",
       "label": "Couleur des flèches sur carousel au survol",
	   "default": "#000000"
	},
	{
       "id": "validate-color",
       "type": "color",
       "label": "Couleur de l'icone de validation",
	   "default": "#1A86E5"
	},
	{
       "id": "etoile-color",
       "type": "color",
       "label": "Couleur des étoiles",
	   "default": "#FFE325"
	},
	{
        "type": "header",
        "content": "⬛️ INTÉRIEUR DES CARTES"
    },
	{
		"type": "checkbox",
        "id": "enable-name",
        "label": "Activer le nom",
		"default": true 
	},
	{
		"type": "checkbox",
        "id": "enable-date",
        "label": "Activer la date",
		"default": true 
	},
	{
		"type": "checkbox",
        "id": "enable-stars",
        "label": "Activer les étoiles",
		"default": true 
	},
	{
		"type": "checkbox",
        "id": "enable-avis",
        "label": "Activer le contenu",
		"default": true 
	},
	{
		"type": "paragraph",
        "content": "🔹 ALIGNEMENT"
	},
    {
       "type": "select",
       "id": "content-align",
       "options": [
		  { "value": "justify", "label": "Justify"},
          { "value": "center", "label": "Centré"},
          { "value": "right", "label": "à Droite"},
          { "value": "left", "label": "à Gauche"}
       ],
       "label": "Alignement du contenu",
	   "default": "left"
    },
	{
		"type": "paragraph",
        "content": "🔹 NOM"
	},
    {
       "type": "select",
       "id": "name-size",
       "options": [
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise pour le nom",
	   "default": "4"
    },
    {
      "type": "range",
      "id": "namemb",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du nom",
      "default": 0
    },
    {
      "type": "range",
      "id": "namemt",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge du haut du nom",
      "default": 0
    },
	{
		"type": "paragraph",
        "content": "🔹 DATE"
	},
    {
      "type": "range",
      "id": "datemt",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas de la date",
      "default": 6
    },
	{
		"type": "paragraph",
        "content": "🔹 ÉTOILES"
	},
    {
      "type": "range",
      "id": "etoile-size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Taille des étoiles",
      "default": 19
    },
    {
      "type": "range",
      "id": "margin-star",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas des étoiles",
      "default": 9
    },
	{
		"type": "paragraph",
        "content": "🔹 TEXTE"
	},
    {
      "type": "range",
      "id": "txtm",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du texte",
      "default": 2
    }
  ],
	"blocks": [
	{
		"type": "block-1",
		"name": "Avis",
		"settings": [
	  	{
			"id": "name",
			"type": "text",
			"label": "Nom et prénom",
			"default": "John Doe"
		},
        {
            "type": "checkbox",
            "id": "validate-it",
            "label": "Activer la validation",
			"default": true
        },
        {
            "type": "checkbox",
            "id": "enable-img",
            "label": "Activer l'image",
			"default": true
        },
		{
			"id": "avis",
			"type": "richtext",
			"label": "Avis",
            "default": "<p>Veuillez insérer ici le contenu de l'avis</p>"
		},
        {
            "type": "range",
            "id": "star",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "unit": "★",
            "label": "Nombre d'étoiles /5",
            "default": 4.5
        },
		{
			"id": "date",
			"type": "text",
			"label": "Date",
			"default": "31/12/2020"
		},
		{
			"id": "image",
			"type": "image_picker",
			"label": "Photo avis 1"
		},
		{
			"id": "image2",
			"type": "image_picker",
			"label": "Photo avis 2 - Active Carousel"
		},
		{
			"id": "image3",
			"type": "image_picker",
			"label": "Photo avis 3"
		}
	  ]
	}],
	"presets": [{
		"name": "Reviews",
		"category": "Avis",
		"blocks": [
		  { 
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          },
          {
            "type": "block-1"
          }
	    ]
  	}
  ]
}

{% endschema %}
