{% assign second = 1 %}
{% assign background = 1 %}
{% assign first = 0 %}

<style>
.fade-carousels {
    position: relative;
  height: {{ section.settings.general-height }}vh;
}
.fade-carousels .carousel-inner .item {
  height: {{ section.settings.general-height }}vh;
}
.fade-carousels .carousel-indicators > li {
    margin: 0 2px;
  	background-color: {{ section.settings.dot-color }};
    border-color: {{ section.settings.dot-color }};
    opacity: .7;
}
.fade-carousels .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
  
.fade-carousels .slides .slide-2, .fade-carousels .slides .slide-3 {
  height: {{ section.settings.general-height }}vh;
}
  
.carous-button:hover {
  color: {{ section.settings.color-text-hover }}!important;
  {% if section.settings.enable-button-border-hover %}
  border: {{ section.settings.button-border-size-hover }}px solid {{ section.settings.button-border-color-hover }}!important;
  {% else %}
  border: none!important;
  {% endif %}
  background-color: {{ section.settings.background-color-button-hover }}75!important;
  transform: scale(1.0{{ section.settings.button-scale }})!important;
  text-decoration: none!important;
}

@media screen and (max-width: 549px) {
  .carous-button {
    font-size: {{ section.settings.respfontsize }}px!important;
    margin: {{ section.settings.button-margin-mobile }}px!important;
  }
  .fade-carousels, .fade-carousels .carousel-inner .item {
 	 height: {{ section.settings.general-height-mobile }}vh;
  }
}
  
/********************************/
/*          Hero Headers        */
/********************************/
.heros {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  	min-width: 15em;
}
.heros .slide-title {
  	font-size: {{ section.settings.title-size }}em;
  	color: {{ section.settings.title-color }};
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.heros .slide-subtitle {
  font-size: {{ section.settings.subtitle-size }}em;
  	color: {{ section.settings.subtitle-color }}   
}

.fade-carousels .carousel-inner .item .heros {
    opacity: 0;
    -webkit-transition: .5s all ease-in-out .1s;
    -moz-transition: .5s all ease-in-out .1s; 
    -ms-transition: .5s all ease-in-out .1s; 
    -o-transition: .5s all ease-in-out .1s; 
    transition: .5s all ease-in-out .1s; 
}
.fade-carousels .carousel-inner .item.active .heros {
    opacity: 1;
    -webkit-transition: .5s all ease-in-out .1s;
    -moz-transition: .5s all ease-in-out .1s; 
    -ms-transition: .5s all ease-in-out .1s; 
    -o-transition: .5s all ease-in-out .1s; 
    transition: .5s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlays {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  	background-color: {{ section.settings.opacity-color}};
  	opacity: .{{ section.settings.opacity-number }};
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousels .slides .slide-1, 
.fade-carousels .slides .slide-2,
.fade-carousels .slides .slide-3 {
  height: {{ section.settings.general-height }}vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: {{ section.settings.background-attachment }};
}

{% for block in section.blocks %}
  {% if block.settings.image %}
  	.fade-carousels .slides .slide-{{ background }} {
    	background-image: url('{{ block.settings.image.src | img_url: '2048x2040' }}');
    }
  {% else %}
  	.fade-carousels .slides .slide-{{ background }} {
    	background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
    }
  {% endif %}
  {% assign background = background | plus: 1 %}
{% endfor %}
  
.carousel-control.section-carousel {
  z-index: 10;
  color: {{ section.settings.control-color }};
}

.carousel-control.section-carousel:hover {
  color: {{ section.settings.control-color-hover }}!important;
}

.carousel-inner>.item {
  -webkit-transition: .{{ section.settings.transition-time }}s ease-in-out left;
  transition: .{{ section.settings.transition-time }}s ease-in-out left;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .heros { width: 980px; }    
}
@media screen and (max-width: 640px){
    .heros h1 { font-size: 4em; }    
}
</style>


<div class="carousel fade-carousels slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlays"></div>
	
  {% if section.settings.enable-indicators %}
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for block in section.blocks %}
    <li data-target="#bs-carousel" data-slide-to="{{ first }}" {% if first == 0 %}class="active"{% endif %}></li>
    {% assign first = first | plus: 1 %}
    {% endfor %}
  </ol>
  {% endif %}
  
  {% if section.settings.enable-controls %}
    <!-- Controls -->
    {% for block in section.blocks %}
    <a class="left carousel-control section-carousel" href="#bs-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control section-carousel" href="#bs-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    {% endfor %}
  {% endif %}
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for block in section.blocks %}
    <div class="item slides {% if second == 1 %}active{% endif %}">
      <div class="slide-{{ second }}"></div>
      <div class="heros">        
        <hgroup>
            <h{{ section.settings.title-tag }} class="slide-title">{{ block.settings.title }}</h{{ section.settings.subtitle-tag }}>       
            <h{{ section.settings.subtitle-tag }} class="slide-subtitle">{{ block.settings.content }}</h{{ section.settings.subtitle-tag }}>
          	{% if block.settings.enable-first-button %}
            <a class="btn carous-button" href="{{ block.settings.link }}" style="
              {% if section.settings.enable-button-border %}
              border: {{ section.settings.button-border-size }}px solid {{ section.settings.button-border-color }};
              {% endif %}
              max-width: 20em;
              color: {{ section.settings.color-text }};
              text-transform: capitalize;
              background-color: {{ section.settings.background-color-button }}75;
              font-size: {{ section.settings.fontsize }}px;
              transition: .{{ section.settings.button-transition }}s ease-in-out;
              min-width: 12em;
              margin: {{ section.settings.button-margin }}px;
            ">{{ block.settings.titre1 }}</a>
            {% endif %}
        </hgroup>       
      </div>
    </div>
    {% assign second = second | plus: 1 %}
    {% endfor %}
  </div> 
</div>

{% schema %}
{
    "name": "Carousel",
	"max_blocks": 3,
    "settings": [
	{
        "type": "header",
        "content": "⬛️ SLIDES"
    },
    {
        "type": "range",
        "id": "general-height",
        "min": 35,
        "max": 100,
        "step": 1,
        "unit": "vh",
        "label": "Hauteur du carousel (100 = Intégralité de l'écran)",
        "default": 50
    },
    {
        "type": "range",
        "id": "general-height-mobile",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "vh",
        "label": "Hauteur du carousel sur mobile (100 = Intégralité de l'écran)",
        "default": 25
    },
    {
       "type": "select",
       "id": "background-attachment",
       "options": [
          { "value": "fixed", "label": "Parallax"},
          { "value": "unset", "label": "Pas parallax"}
       ],
       "label": "Parallax ou non ?",
	   "default": "fixed"
    },
	{
		"type": "paragraph",
		"content": "🔹 CONTROLES"
	},
	{
		"type": "checkbox",
        "id": "enable-controls",
        "label": "Activer les contrôleurs",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-indicators",
        "label": "Activer les indicateurs",
		"default": true
	},
    {
      "type": "range",
      "id": "transition-time",
      "min": 1,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "Modifier le temps de transition des slides",
      "default": 2
    },
	{
		"type": "paragraph",
		"content": "🔹 FILTRE IMAGE"
	},
    {
      "type": "range",
      "id": "opacity-number",
      "min": 11,
      "max": 99,
      "step": 1,
      "unit": "%",
      "label": "Opacité du filtre",
      "default": 35
    },
	{
       "id": "opacity-color",
       "type": "color",
       "label": "Couleur du filtre",
	   "default": "#000000"
	},
	{
		"type": "paragraph",
		"content": "🔹 TITRES"
	},
    {
       "type": "select",
       "id": "title-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise titre",
	   "default": "2"
    },
    {
      "type": "range",
      "id": "title-size",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Taille du titre",
      "default": 4
    },
	{
		"type": "paragraph",
		"content": "🔹 SOUS-TITRES"
	},
    {
       "type": "select",
       "id": "subtitle-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise sous-titre",
	   "default": "3"
    },
    {
      "type": "range",
      "id": "subtitle-size",
      "min": 1,
      "max": 8,
      "step": 1,
      "unit": "em",
      "label": "Taille du sous-titre",
      "default": 2
    },
	{
		"type": "paragraph",
		"content": "🔹 BOUTON"
	},
	{
		"type": "paragraph",
		"content": "🔸 TAILLE"
	},
	{
		"id": "fontsize",
		"type": "range",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Taille du bouton",
        "default": 25
	},
	{
		"id": "respfontsize",
		"type": "range",
		"min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Taille du bouton sur mobile",
        "default": 20
	},
	{
		"type": "paragraph",
		"content": "🔸 MARGES"
	},
	{
		"id": "button-margin",
		"type": "range",
        "min": 1,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Marge du bouton",
        "default": 10
	},
	{
		"id": "button-margin-mobile",
		"type": "range",
		"min": 1,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Marge du bouton sur mobile",
        "default": 5
	},
	{
		"type": "paragraph",
		"content": "🔸 BORDURES"
	},
	{
		"type": "checkbox",
        "id": "enable-button-border",
        "label": "Activer la bordure du bouton"
	},
	{
		"id": "button-border-size",
		"type": "range",
        "min": 1,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Taille de bordure",
        "default": 3
	},
	{
		"type": "checkbox",
        "id": "enable-button-border-hover",
        "label": "Activer la bordure du bouton au survol"
	},
	{
		"id": "button-border-size-hover",
		"type": "range",
        "min": 1,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Taille de bordure au survol",
        "default": 3
	},
	{
		"type": "paragraph",
		"content": "🔸 SURVOL"
	},
	{
		"id": "button-transition",
		"type": "range",
        "min": 1,
        "max": 9,
        "step": 1,
        "unit": "s",
        "label": "Temps de transition",
        "default": 3
	},
	{
		"id": "button-scale",
		"type": "range",
        "min": 1,
        "max": 9,
        "step": 1,
        "unit": "%",
        "label": "Zoom du bouton au survol",
        "default": 3
	},
	{
		"type": "paragraph",
		"content": "🔹 COULEURS"
	},
	{
		"type": "paragraph",
		"content": "🔸 CONTROLES"
	},
	{
       "id": "control-color",
       "type": "color",
       "label": "Couleur des contrôleurs",
	   "default": "#ffffff"
	},
	{
       "id": "control-color-hover",
       "type": "color",
       "label": "Couleur des contrôleurs au survol",
	   "default": "#d4d4d4"
	},
	{
       "id": "dot-color",
       "type": "color",
       "label": "Couleur des indicateurs",
	   "default": "#ffffff"
	},
	{
		"type": "paragraph",
		"content": "🔸 TITRES / SOUS-TITRES"
	},
	{
       "id": "title-color",
       "type": "color",
       "label": "Couleur du titre",
	   "default": "#ffffff"
	},
	{
       "id": "subtitle-color",
       "type": "color",
       "label": "Couleur du sous-titre",
	   "default": "#ffffff"
	},
	{
		"type": "paragraph",
		"content": "🔸 BOUTONS"
	},
	{
       "id": "button-border-color",
       "type": "color",
       "label": "Couleur de bordure",
	   "default": "#ffffff"
	},
	{
       "id": "button-border-color-hover",
       "type": "color",
       "label": "Couleur de bordure au survol",
	   "default": "#000000"
	},
	{
       "id": "background-color-button",
       "type": "color",
       "label": "Couleur de fond du bouton",
	   "default": "#000000"
	},
	{
       "id": "background-color-button-hover",
       "type": "color",
       "label": "Couleur de fond du bouton au survol",
	   "default": "#ffffff"
	},
	{
       "id": "color-text",
       "type": "color",
       "label": "Couleur du texte",
	   "default": "#ffffff"
	},
	{
       "id": "color-text-hover",
       "type": "color",
       "label": "Couleur du texte au survol",
	   "default": "#000000"
	}
	],
	"blocks": [
	{
		"type": "block",
		"name": "slide",
		"settings": [
	  	{
          "id": "title",
          "type": "text",
          "label": "Titre Slide",
          "default": "Titre du slide"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Contenu Slide",
          "default": "Sous-titre du slide"
        },
        {
          "type": "checkbox",
          "id": "enable-first-button",
          "label": "Activer le bouton",
          "default": true
        },
        {
          "id": "titre1",
          "type": "text",
          "label": "Contenu du bouton",
          "default": "CALL TO ACTION"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Lien du call to action"
        },
		{
          "id": "image",
          "type": "image_picker",
          "label": "Image de fond"
		}
	  ]
	}],
	"presets": [{
		"name": "🔧 Carousel + Text",
		"category": "Image + Texte",
		"blocks": [
          { 
            "type": "block"
          },
          {
            "type": "block"
          },
          {
            "type": "block"
          }
        ]
  	}
  ]
}

{% endschema %}
