{% style %}

.barre-defil {
	height: 50px;
    overflow: hidden;
    position: relative;
    background-color: {{ section.settings.color_bg }};
}

.barre-defil p {
	font-size: 1em;
    color: {{ section.settings.color_text }};
    width: 100%;
    height: 100%;
    margin: auto 0;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: barre-defil {{ section.settings.speed }}s linear infinite;
    -webkit-animation: barre-defil {{ section.settings.speed }}s linear infinite;
    animation: barre-defil {{ section.settings.speed }}s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 551px) {
	.barre-defil p {
      width: 250%;
	}
}

/* Move it (define the animation) */
@-moz-keyframes barre-defil {
  0%   { -moz-transform: translateX({% if section.settings.gauche == true %}-{% endif %}100%); }
  100% { -moz-transform: translateX({% if section.settings.gauche == false %}-{% endif %}100%); }
}

@-webkit-keyframes barre-defil {
  0%   { -webkit-transform: translateX({% if section.settings.gauche == true %}-{% endif %}100%); }
  100% { -webkit-transform: translateX({% if section.settings.gauche == false %}-{% endif %}100%); }
}

@keyframes barre-defil {
  0% { 
    -moz-transform: translateX({% if section.settings.gauche == true %}-{% endif %}100%); /* Firefox bug fix */
    -webkit-transform: translateX({% if section.settings.gauche == true %}-{% endif %}100%); /* Firefox bug fix */
    transform: translateX({% if section.settings.gauche == true %}-{% endif %}100%); 		
  }
  100% { 
    -moz-transform: translateX({% if section.settings.gauche == false %}-{% endif %}100%); /* Firefox bug fix */
    -webkit-transform: translateX({% if section.settings.gauche == false %}-{% endif %}100%); /* Firefox bug fix */
    transform: translateX({% if section.settings.gauche == false %}-{% endif %}100%); 
  }
}

{% endstyle %}

{% if section.settings.link == blank %}
<div class="barre-defil">
{% else %}
<a href="{{ section.settings.link }}" class="bar-defil">
{% endif %}
    <p><strong>{{ section.settings.texte-gras }}</strong> &nbsp;{{ section.settings.text | escape }}</p>
{% if section.settings.link == blank %}
</div>
{% else %}
</a>
{% endif %}
