<style>

#shopify-section-{{ section.id }} {
	background: -webkit-linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }}); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }});
	padding: {{ section.settings.phb }}px 0px
}
  
.template_faq {
  background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
  background: transparent;
  border-radius: 3px;
  margin-bottom: 0;
  max-width: 1117px;
  margin: auto;
}
  
.panel {
  background:transparent;
}

#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading {
    border-radius: 60px;
    padding: 0;
}
#accordion .panel-title a {
	background: {{ section.settings.clic-color }} none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 43px;
    color: {{ section.settings.clic-title-color }};
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px 12px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: flex;
}
#accordion .panel-title a.collapsed {
    background: {{ section.settings.accordion-color }} none repeat scroll 0 0;
  	border: {{ section.settings.border-collapsed-size }}px solid {{ section.settings.border-collapsed-color }};
    color: {{ section.settings.title-color }};
}

#accordion .panel-title a.collapsed:hover {
  background-color: {{ section.settings.background-color-question-hover }};
  color: {{ section.settings.color-question-text-hover }};
}

#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    color: {{ section.settings.clic-title-color }};
    content: "-";
    font-family: fontawesome;
    font-size: 25px;
    height: 41px;
    left: 5px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 1px;
    transition: all 0.3s ease 0s;
    width: 41px;
}
#accordion .panel-title a.collapsed::after {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: {{ section.settings.title-color }};
    content: "+";
}

#accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
}

#accordion .panel-body p {
  	color: {{ section.settings.text-color }};
  	border-left: {{ section.settings.answer-border-width }}px {{ section.settings.answer-border-type }} {{ section.settings.text-color }};
  	padding-left: {{ section.settings.answer-border-padding-left }}px;
}
  
@media screen and (max-width: 769px) {
  #accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
     position: inherit;
  }
}
  
</style>

<div class="featured-faq featured-faq--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-faq">
  <div class="wrapper">
  
    {% include 'block-title' %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% assign first = false %}
      {% assign second = 2 %}
      {% for block in section.blocks %}
        {% if first != true %}
          {% assign first = true %}
          <!-- accordion panel -->
          <div class="panel panel-default" data-aos="{{ settings.faq-aos }}">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ block.settings.question }}
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>{{ block.settings.reponse }}</p>
              </div>
            </div>
          </div>
          {% else %}
          <!-- accordion panel -->
          <div class="panel panel-default" data-aos="{{ settings.faq-aos }}">
            <div class="panel-heading" role="tab" id="heading{{ second }}">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ second }}" aria-expanded="false" aria-controls="collapse{{ second }}">
                  {{ block.settings.question }} 
                </a>
              </h4>
            </div>
            <div id="collapse{{ second }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ second }}">
              <div class="panel-body">
                <p>{{ block.settings.reponse }}</p>
              </div>
            </div>
          </div>
          {% assign second = second | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "faq",
    "settings": [
	{
      "type": "header",
      "content": "⬛️ SECTION GÉNÉRAL"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Titre",
      "info": "La couleur du titre est éditable tout en bas."
    },
    {
      "id": "subtitle",
      "type": "textarea",
      "label": "Sous-titre"
    },
    {
      "id": "background-gradient1",
      "type": "color",
      "label": "Couleur de fond dégradé 1",
      "default": "#ffffff"
    },
    {
      "id": "background-gradient2",
      "type": "color",
      "label": "Couleur de fond dégradé 2",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "gradient-side",
      "options": [
        { "value": "to left", "label": "Droite > Gauche"},
        { "value": "to right", "label": "Gauche > Droite"},
        { "value": "to bottom", "label": "Haut > Bas"},
        { "value": "to top", "label": "Bas > Haut"}
      ],
      "label": "Orientation du dégradé",
      "default": "to right"
    },
    {
      "type": "range",
      "id": "phb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Marge Haut/bas de la section",
      "default": 25
    },
    {
      "type": "paragraph",
      "content": "🔸 TITRE / SOUS-TITRE GÉNÉRAL"
    },
    {
      "type": "select",
      "id": "align-title",
      "options": [
      { "value": "center", "label": "Centre"},
      { "value": "left", "label": "Gauche"}
      ],
      "label": "Alignement du titre",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title-tag",
      "options": [
      { "value": "2", "label": "H2"},
      { "value": "3", "label": "H3"},
      { "value": "4", "label": "H4"},
      { "value": "5", "label": "H5"},
      { "value": "6", "label": "H6"}
      ],
      "label": "Balise titre",
      "default": "2"
    },
    {
      "type": "range",
      "id": "hautsoustitre",
      "min": -10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du sous-titre",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 BARRES DE TITRE"
    },
    {
      "type": "checkbox",
      "id": "enable-bb",
      "label": "Activer la barre sous le titre",
      "info": "La couleur de la barre est éditable tout en bas.",
      "default": false
    },
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 2
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas barre sous le titre",
      "default": 15
    },
    {
      "type": "paragraph",
      "content": "🔸 IMAGE À GAUCHE DU TITRE"
    },
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre",
      "info": "Active l'image dès que sélectionné"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": 0
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 COULEURS"
    },
    {
      "id": "titles-color",
      "type": "color",
      "label": "Couleur du titre",
      "default": "#000000"
    },
    {
      "id": "bordercolor",
      "type": "color",
      "label": "Couleur de barre sous le titre",
      "default": "#000000"
    },
    {
      "id": "subtitlecolor",
      "type": "color",
      "label": "Couleur du sous-titre",
      "default": "#000000"
    },
	{
        "type": "header",
        "content": "⬛️ FAQ"
    },
	{
		"type": "paragraph",
        "content": "🔹 MARGES"
	},
    {
      "type": "range",
      "id": "answer-border-padding-left",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Marge entre la bordure à gauche de la réponse",
      "default": 25
    },
	{
		"type": "paragraph",
        "content": "🔹 BORDURES"
	},
    {
      "type": "range",
      "id": "border-collapsed-size",
      "min": 0,
      "max": 5,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la bordure de question",
      "default": 1
    },
    {
      "type": "range",
      "id": "answer-border-width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la bordure à gauche de la réponse",
      "default": 1
    },
    {
       "type": "select",
       "id": "answer-border-type",
       "options": [
          { "value": "solid", "label": "Pleine"},
          { "value": "dashed", "label": "Traits"},
		  { "value": "dotted", "label": "Points"}
       ],
       "label": "Type de bordure à gauche de la réponse",
	   "default": "dashed"
    },
	{
		"type": "paragraph",
        "content": "🔹 COULEURS"
	},
	{
       "id": "border-collapsed-color",
       "type": "color",
       "label": "Couleur de la bordure",
	   "default": "transparent"
	},
	{
       "id": "title-color",
       "type": "color",
       "label": "Couleur du texte question",
	   "default": "#000000"
	},
	{
       "id": "clic-title-color",
       "type": "color",
       "label": "Couleur du texte question ouvert",
	   "default": "#000000"
	},
	{
       "id": "accordion-color",
       "type": "color",
       "label": "Couleur de fond de l'accordion",
	   "default": "#ffffff"
	},
	{
       "id": "clic-color",
       "type": "color",
       "label": "Couleur de fond de l'accordion ouvert",
	   "default": "#ffffff"
	},
	{
       "id": "text-color",
       "type": "color",
       "label": "Couleur du contenu",
	   "default": "#000000"
	},
	{
       "id": "background-color-question-hover",
       "type": "color",
       "label": "Couleur de fond de l'accordion au survol",
	   "default": "#ffffff"
	},
	{
       "id": "color-question-text-hover",
       "type": "color",
       "label": "Couleur de fond du texte de la question au survol",
	   "default": "#000000"
	}
	],
	"blocks": [
	{
		"type": "select",
		"name": "Question",
		"settings": [
	  	{
			"id": "question",
			"type": "text",
			"label": "Question",
			"default": "Inscrire la question ?"
		},
		{
			"id": "reponse",
			"type": "richtext",
			"label": "Réponse",
			"default": "<p>Afficher la réponse dans ce carré de texte</p>"
		}
	  ]
	}],
	"presets": [{
		"name": "FAQ",
		"category": "Renseignements sur votre boutique",
		"blocks": [
          { 
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          }
        ]
  	}
  ]
}

{% endschema %}

