<style>

.faq2-section {
  {% if section.settings.enable-background-color %}
  background: {{ section.settings.background-color }};
  {% else %}  
    {% if section.settings.backgroundimage %}
    	background-image: url('{{ section.settings.backgroundimage.src | img_url: '2048x2048' }}');
    {% else %}
      background-image: url('https://ak0.picdn.net/shutterstock/videos/1016440900/thumb/4.jpg');
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: {{ section.settings.background-image-position }};
  {% endif %}
  padding: 10vh 0 0;
  padding-top: {{ section.settings.mts }}em;
  padding-bottom: {{ section.settings.mbs }}em;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #E91E63;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq2 {
  background: {{ section.settings.faq-background-color }};
  box-shadow: 0px 0px {{ section.settings.shadow-size }}px {{ section.settings.shadow-color}};
  border-radius: {{ section.settings.border-radius }}px;
  border: {{ section.settings.border-size }}px solid {{ section.settings.border-color }};
}

.faq2 .card {
  border: none;
  background: none;
}

.faq2 .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq2 .card .card-header:hover {
  background: {{ section.settings.hover-question-color }}1a;
  border-radius: {{ section.settings.border-radius }}px;
  padding-left: 10px;
}
.faq2 .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.faq2 .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: {{ section.settings.number-color }};
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq2 .card .card-body {
  padding: {{ section.settings.haut-bas }}px {{ section.settings.droite-gauche }}px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq2 .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
  }
}
  
{% if section.settings.enable-first-letter %}
  .mainHeading.firstletterfaq2::first-letter {
    color: {{ section.settings.first-letter-color }};
  }
{% endif %}

</style>

<section class="faq2-section">
  <main class="faq2-block mt-100" style="
	width:100%;
  ">
    {% if section.settings.enable-title %}
    <section class="row">
      <article class="col-sm-12 sectionHead" style="
		font-weight: 600;
        margin-bottom: {{ section.settings.title-mb }}px;
        display: flex;
        flex-direction: column;
        align-items: {{ section.settings.sectionHead-align }};
        color: {{ section.settings.titles-color }};
	  " data-aos="{{ section.settings.aos-title }}">
        <div class="favtitle-contain" style="
			display: flex;
    		align-items: {{ section.settings.sectionHead-align }};
		">
          {% if section.settings.enable-favicon %}
            {% if section.settings.favicon %}
            <img class="favtitle" style="
				margin-bottom: {{ section.settings.favicon-mb }}px;
                margin-right: {{ section.settings.favicon-mr }}px;
			" width="{{ section.settings.favicon-size }}px" src="{{ section.settings.favicon.src | img_url: "720x" }}" />
            {% else %}
            <img class="favtitle" style="
				margin-bottom: {{ section.settings.favicon-mb }}px;
                margin-right: {{ section.settings.favicon-mr }}px;
			" width="{{ section.settings.favicon-size }}px" src="https://webstockreview.net/images/clipart-flames-emoji-5.png" />
            {% endif %}
          {% endif %}
          <h{{ section.settings.title-tag }} class="mainHeading {% if section.settings.enable-first-letter %}firstletterfaq2{% endif %}" style="
            {% if section.settings.enable-leftbar %}
            border-left: {{ section.settings.mainHeading-leftbar-width }}px solid {{ section.settings.mainHeading-leftbar-color }};
            padding-left: {{ section.settings.mainHeading-leftbar-padding }}px;
            {% endif %}
            width: fit-content;
          ">{{ section.settings.avis-title }}</h{{ section.settings.title-tag }}>
        </div>
        {% if section.settings.enable-bb %}
		<div style=" 
          border-bottom-style: solid;
          border-bottom-width: {{ section.settings.bbwidth }}px;
          width: {{ section.settings.bblength }}%;
          height: 100%;
          margin-top: {{ section.settings.bbmt }}px;
          border-bottom-color: {{ section.settings.bordercolor }};"
		 >
         </div>
        {% endif %}
        {% if section.settings.enable-subtitle %}
        	<h{{ section.settings.subtitle-tag }} class="mainSubHeading" style="
            margin-top: {{ section.settings.mshmt }}px;
            margin-bottom: {{ section.settings.mshmb }}px;
			">{{ section.settings.avis-subtitle }}</h{{ section.settings.subtitle-tag }}>
        {% endif %}
      </article>
    </section>
    {% endif %}
  	<div class="container">
      <div class="row" style="
        margin-top: {{ section.settings.faq2-top }}px;
	  ">
        <div class="col-md-12 offset-md-3">
          <div class="faq2" id="accordion">
          {% assign second = 1 %}
          {% for block in section.blocks %}
            <div class="card" data-aos="{{ section.settings.aos-cart }}">
              <div class="card-header" id="faqHeading-{{ second }}">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-{{ second }}" data-aria-expanded="true" data-aria-controls="faqCollapse-{{ second }}">
                    <span class="badge">{{ second }}</span>{{ block.settings.question }}
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-{{ second }}" class="collapse" aria-labelledby="faqHeading-{{ second }}" data-parent="#accordion">
                <div class="card-body">
                  <p>{{ block.settings.answer }}</p>
                </div>
              </div>
            </div>
          {% assign second = second | plus: 1 %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
</section>

{% schema %}
{
    "name": "F A Q 2",
    "settings": [
	{
        "type": "header",
        "content": "⬛️ SECTION GÉNÉRAL"
    },
	{
       "id": "background-color",
       "type": "color",
       "label": "Couleur de fond de la section",
	   "default": "#ffffff"
	},
    {
      "type": "range",
      "id": "mts",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Marge du haut de section",
      "default": 5
    },
    {
      "type": "range",
      "id": "mbs",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Marge du bas de section",
      "default": 5
    },
	{
        "type": "header",
        "content": "⬛️ TITRE ET SOUS-TITRE DE SECTION"
    },
    {
       "type": "select",
       "id": "aos-title",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll du block titre",
	   "default": "none"
    },
	{
		"type": "paragraph",
		"content": "🔹 TITRE ET SOUS-TITRE GÉNÉRAL"
	},
    {
       "type": "select",
       "id": "sectionHead-align",
       "options": [
          { "value": "center", "label": "Centre"},
          { "value": "end", "label": "Gauche"},
		  { "value": "flex-end", "label": "Droite"}
       ],
       "label": "Alignement des titres",
	   "default": "center"
    },
    {
      "type": "range",
      "id": "title-mb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du block titre",
      "default": 0
    },
	{
		"type": "checkbox",
        "id": "enable-title",
        "label": "Activer le titre",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-first-letter",
        "label": "Activer la couleur différente sur la première lettre du titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-favicon",
        "label": "Activer l'icone à gauche du titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-leftbar",
        "label": "Activer la barre latérale",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-bb",
        "label": "Activer la barre sous le titre",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-subtitle",
        "label": "Activer le sous-titre",
		"default": false
	},
	{
		"type": "paragraph",
		"content": "🔹 TITRE"
	},
	{
		"type": "paragraph",
		"content": "ℹ️ Si vous souhaitez modifier le style des balises titre, rendez vous dans 'Paramètres de Thème'"
	},
	{
		"id": "avis-title",
		"type": "text",
		"label": "Titre",
		"default": "QUESTIONS FRÉQUENTES 2"
	},
    {
       "type": "select",
       "id": "title-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise titre",
	   "default": "2"
    },
	{
		"type": "paragraph",
        "content": "🔹 SOUS TITRE (⚠️ SEULEMENT SI TITRE ACTIF)"
	},
	{
		"id": "avis-subtitle",
		"type": "text",
		"label": "Sous-titre",
		"default": "Les questions récurentes..."
	},
    {
       "type": "select",
       "id": "subtitle-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise sous-titre",
	   "default": "3"
    },
	{
		"type": "paragraph",
		"content": "🔸 MARGES DU SOUS-TITRE"
	},
    {
      "type": "range",
      "id": "mshmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du haut du sous-titre",
      "default": 5
    },
    {
      "type": "range",
      "id": "mshmb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du sous-titre",
      "default": 20
    },
	{
		"type": "paragraph",
		"content": "🔹 BARRES (⚠️ SI ACTIF)"
	},
	{
		"type": "paragraph",
		"content": "🔸 BARRE LATÉRALE"
	},
    {
      "type": "range",
      "id": "mainHeading-leftbar-width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre latérale",
      "default": 3
    },
    {
      "type": "range",
      "id": "mainHeading-leftbar-padding",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge entre titre et barre latérale",
      "default": 15
    },
	{
		"type": "paragraph",
		"content": "🔸 BARRE SOUS LE TITRE"
	},
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 3
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge entre titre et barre sous le titre",
      "default": 30
    },
	{
		"type": "paragraph",
		"content": "🔸 COULEURS"
	},
	{
       "id": "titles-color",
       "type": "color",
       "label": "Couleur du titre et sous-titre",
	   "default": "#000000"
	},
	{
       "id": "first-letter-color",
       "type": "color",
       "label": "Couleur de la première lettre du titre",
	   "default": "#ff0000"
	},
	{
       "id": "mainHeading-leftbar-color",
       "type": "color",
       "label": "Couleur de barre latérale",
	   "default": "#000000"
	},
	{
       "id": "bordercolor",
       "type": "color",
       "label": "Couleur de barre sous le titre",
	   "default": "#000000"
	},
	{
		"type": "paragraph",
		"content": "🔹 IMAGE À GAUCHE DU TITRE (⚠️ SI ACTIF)"
	},
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": -4
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 4
    },
	{
        "type": "header",
        "content": "⬛️ Conteneur de cartes"
    },
    {
       "type": "select",
       "id": "aos-cart",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll des questions",
	   "default": "none"
    },
	{
		"type": "paragraph",
        "content": "🔹 FOND"
	},
	{
		"type": "paragraph",
		"content": "ℹ️ Si vous activez la couleur de fond, toutes les propriétés liées à l'image deviendront nulles'"
	},
	{
		"type": "checkbox",
        "id": "enable-background-color",
        "label": "Activer la couleur de fond",
		"default": false
	},
	{
       "id": "faq-background-color",
       "type": "color",
       "label": "Couleur de fond",
	   "default": "#ffffff"
	},
	{
		"id": "backgroundimage",
		"type": "image_picker",
		"label": "Image de fond"
	},
    {
       "type": "select",
       "id": "background-image-position",
       "options": [
          { "value": "left top", "label": "Haut Gauche"},
          { "value": "left center", "label": "Centre Gauche"},
		  { "value": "left bottom", "label": "Bas Gauche"},
          { "value": "right top", "label": "Haut Droite"},
		  { "value": "right center", "label": "Centre Droite"},
          { "value": "right bottom", "label": "Bas droite"},
		  { "value": "center top", "label": "Haut Centre"},
          { "value": "center center", "label": "Centre"},
		  { "value": "center bottom", "label": "Bas Centre"}
       ],
       "label": "Position de l'image",
	   "default": "center top"
    },
	{
		"type": "paragraph",
        "content": "🔹 MARGES"
	},
    {
      "type": "range",
      "id": "faq2-top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du haut du block de sections",
      "default": 35
    },
    {
      "type": "range",
      "id": "haut-bas",
      "min": 0,
      "max": 99,
      "step": 1,
      "unit": "px",
      "label": "Marge interne Haut/Bas de réponse",
      "default": 5
    },
    {
      "type": "range",
      "id": "droite-gauche",
      "min": 0,
      "max": 99,
      "step": 1,
      "unit": "px",
      "label": "Marge interne Droite/Gauche de réponse",
      "default": 24
    },
	{
		"type": "paragraph",
        "content": "🔹 BORDURES"
	},
    {
      "type": "range",
      "id": "border-size",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de bordure",
      "default": 0
    },
    {
      "type": "range",
      "id": "border-radius",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Arrondi de bordure",
      "default": 0
    },
	{
		"type": "paragraph",
        "content": "🔹 OMBRES"
	},
    {
      "type": "range",
      "id": "shadow-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Portée de l'ombre",
      "default": 15
    },
	{
		"type": "paragraph",
        "content": "🔹 COULEURS"
	},
	{
		"type": "paragraph",
        "content": "🔸 BORDURE"
	},
	{
       "id": "border-color",
       "type": "color",
       "label": "Couleur de bordure",
	   "default": "#d4d4d4"
	},
	{
		"type": "paragraph",
        "content": "🔸 OMBRE"
	},
	{
       "id": "shadow-color",
       "type": "color",
       "label": "Couleur de l'ombre",
	   "default": "#d4d4d4"
	},
	{
		"type": "paragraph",
        "content": "🔸 QUESTION"
	},
	{
       "id": "number-color",
       "type": "color",
       "label": "Couleur du numéro",
	   "default": "#154a8e"
	},
	{
       "id": "hover-question-color",
       "type": "color",
       "label": "Couleur de fond de question au survol",
	   "default": "#000000"
	}],
	"blocks": [
	{
		"type": "block",
		"name": "Section FAQ",
		"settings": [
	  	{
			"id": "question",
			"type": "text",
			"label": "Question",
			"default": "Quelle est votre question ?"
		},
		{
			"id": "answer",
			"type": "richtext",
			"label": "Contenu",
            "default": "<p>Veuillez insérer ici la réponse à la question. Elle peut être très longue, ce ne sera pas un problème</p>"
		}
	  ]
	}],
	"presets": [{
		"name": "🔧 FAQ 2",
		"category": "Renseignements sur votre boutique",
		"blocks": [
          { 
            "type": "block"
          },
          {
            "type": "block"
          },
          {
            "type": "block"
          }
        ]
  	}
  ]
}

{% endschema %}
