{% style %}

.fleche-section-{{ section-id }} {
  display: flex;
  background: -webkit-linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }}); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }});
  padding: {{ section.settings.phb }}px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1em;
}

.flechewrap .section-header {
	margin-bottom: 0;
}

/* Creating the shape */

.fleche-section-{{ section-id }} {
  position: relative;
  --size: 50px; /* Set height/width of square */
}

.fleche-section-{{ section-id }}::after {
  position: absolute;
  content: '';
  height: var(--size);
  width: var(--size);
  background: inherit;
  left: calc(50% - var(--size)/2);
  bottom: calc(var(--size)/-2);
  transform: rotate(45deg);
}

{% endstyle %}

<section class="fleche-section-{{ section-id }}">
  <div class="wrapper flechewrap">
	{% include 'block-title' %}
  </div>
</section>


{% schema %}
{
  "name": "Fleche",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "info": "La couleur du titre est éditable tout en bas.",
      "default": "Section Flèche !"
    },
    {
      "id": "subtitle",
      "type": "textarea",
      "label": "Sous-titre"
    },
	{
      "type": "header",
      "content": "🔹 CUSTOM"
    },
    {
      "id": "background-gradient1",
      "type": "color",
      "label": "Couleur de fond dégradé 1",
      "default": "#000000"
    },
    {
      "id": "background-gradient2",
      "type": "color",
      "label": "Couleur de fond dégradé 2",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "gradient-side",
      "options": [
        { "value": "to left", "label": "Droite > Gauche"},
        { "value": "to right", "label": "Gauche > Droite"},
        { "value": "to bottom", "label": "Haut > Bas"},
        { "value": "to top", "label": "Bas > Haut"}
      ],
      "label": "Orientation du dégradé",
      "default": "to right"
    },
    {
      "type": "range",
      "id": "phb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Marge Haut/bas de la section",
      "default": 25
    },
    {
      "type": "paragraph",
      "content": "🔸 TITRE / SOUS-TITRE GÉNÉRAL"
    },
    {
      "type": "select",
      "id": "align-title",
      "options": [
      { "value": "center", "label": "Centre"},
      { "value": "left", "label": "Gauche"}
      ],
      "label": "Alignement du titre",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title-tag",
      "options": [
      { "value": "2", "label": "H2"},
      { "value": "3", "label": "H3"},
      { "value": "4", "label": "H4"},
      { "value": "5", "label": "H5"},
      { "value": "6", "label": "H6"}
      ],
      "label": "Balise titre",
      "default": "2"
    },
    {
      "type": "range",
      "id": "hautsoustitre",
      "min": -10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du sous-titre",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 BARRES DE TITRE"
    },
    {
      "type": "checkbox",
      "id": "enable-bb",
      "label": "Activer la barre sous le titre",
      "info": "La couleur de la barre est éditable tout en bas.",
      "default": false
    },
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 2
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas barre sous le titre",
      "default": 15
    },
    {
      "type": "paragraph",
      "content": "🔸 IMAGE À GAUCHE DU TITRE"
    },
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre",
      "info": "Active l'image dès que sélectionné"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": 0
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 COULEURS"
    },
    {
      "id": "titles-color",
      "type": "color",
      "label": "Couleur du titre",
      "default": "#ffffff"
    },
    {
      "id": "bordercolor",
      "type": "color",
      "label": "Couleur de barre sous le titre",
      "default": "#ffffff"
    },
    {
      "id": "subtitlecolor",
      "type": "color",
      "label": "Couleur du sous-titre",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Fleche",
      "category": "Custom"
    }
  ]
}
{% endschema %}

