<style> 
     
.live-noti-box {
  position: fixed;
  padding: 0.{{ settings.padding-popup }}rem;
  bottom: 40px;
  {% if settings.position-popup %}
  right: 10px;
  {% else %}
  left: 10px;
  {% endif %}
  border-radius: {{ settings.borderradius-popup }}px;  
  border: {{ settings.border-popup }}px solid {{ settings.bordercolor-popup }};
  background-color: {{ settings.blockbackground-popup }};
  box-shadow: 0px 0px {{ settings.shadow-size }}px {{ settings.shadow-color }};
  width: 100%;
  max-width: 320px;
  z-index: 9999999999;
  display: flex;
  align-items: center;
}
  
.live-noti-box img {
  border-radius: {{ settings.borderradius-imgpopup }}px;
}
  
@media screen and (max-width:640px) {
    .live-noti-box {
       {% if settings.show_order_notification-mobile == false %}
        display: none;
       {% endif %}
    }

}
  
.infomo {
  margin-left: 10px;
}
   
.live-p, .live-p-min {
  font-size: {{ settings.fontsize-text }}px;
  color: {{ settings.color-text }};
}
  
.random-name {
  color: {{ settings.color-nom }};
  font-family: Poppins, sans-serif;
  {% if settings.bold-article %}
  	font-weight: 600;
  {% endif %}
}
  
.random-city {
  color: {{ settings.color-ville }};
  font-family: Poppins, sans-serif;
  {% if settings.bold-article %}
  	font-weight: 600;
  {% endif %}
}  
  
.order-notifications-random {
  font-size: {{ settings.fontsize-temps }}px;
  color: {{ settings.color-temps }};
  font-family: Poppins, sans-serif;
  {% if settings.bold-article %}
  	font-weight: 600;
  {% endif %}
}
  
.size-article {
  font-size: {{ settings.fontsize-article }}px;
  color: {{ settings.color-article }};
  {% if settings.bold-article %}
  	font-weight: 700;
  {% endif %}
} 

</style>

{% if settings.show_order_notification == true %}
  
{% assign counter = 0 %}  
{% assign break_at = 8 %}

  {% if collections[settings.fomo_collection] != blank %}
   {% for product in collections[settings.fomo_collection].products %}
	<div class="live-noti-box" style="visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.5s linear;">
      <img style="width: 6em;" src="{{ product | img_url }}">
      <div class="infomo">
        <p class="live-p" style="margin:0"><span class="random-name"></span> de <span class="random-city"></span>{{ settings.france-text }}</p>
        <p class="live-p-big" style="margin:0"><a class="size-article" href="{{ product.url }}">{{ product.title }}</a></p>
        <p class="live-p-min" style="margin:0">Il y a <span class="order-notifications-random"></span> minutes</p>
      </div>
    </div>
    {% assign counter = counter | plus: 1 %}
    {% if counter == break_at %}
      {% break %}
    {% endif %}
   {% endfor %}
  {% else %}
   {% for product in collections.all.products %}
	<div class="live-noti-box" style="visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.5s linear;">
      <img style="width: 6em;" src="{{ product | img_url }}">
      <div class="infomo">
        <p class="live-p" style="margin:0"><span class="random-name"></span> de <span class="random-city"></span>{{ settings.france-text }}</p>
        <p class="live-p-big" style="margin:0"><a class="size-article" href="{{ product.url }}">{{ product.title }}</a></p>
        <p class="live-p-min" style="margin:0">Il y a <span class="order-notifications-random"></span> minutes</p>
      </div>
    </div>
    {% assign counter = counter | plus: 1 %}
    {% if counter == break_at %}
      {% break %}
    {% endif %}
   {% endfor %}
  {% endif %}

{% endif %}

<script>
setInterval(function() {
  var randomNotificationNumber = Math.floor((Math.random() * 29) + 1);
  var randomProductNumber = Math.floor((Math.random() * 8) + 1);
  var randomIndexName = Math.floor((Math.random() * 4) + 1);
  //
  var citiesArray = [
    {{ settings.ville-popup }}
  ];
  
  var namesArray = [
    {{ settings.prenoms-popup }}
  ];
  
  var randomIndexCity = Math.floor(Math.random() * citiesArray.length); 
  var randomCity = citiesArray[randomIndexCity];
  
  var randomName = namesArray[randomIndexName];
  //
  var delayBetween = {{ settings.livenotificationtime }};
  var delayBetweenLessThree = delayBetween - 3;
  var delayBetweenMoreThree = delayBetween + 3;
  function randomInRange(start,end){
     return Math.floor(Math.random() * (end - start + 1) + start);
  }
  var randomNumberForDelay = randomInRange(delayBetweenLessThree,delayBetweenMoreThree);
  //
  $('.live-noti-box').css({"visibility":"hidden","opacity":"0"});
  $('.live-noti-box:nth-child('+randomProductNumber+')').css({"visibility":"visible","opacity":"1"});
  $('.random-city').text(randomCity);
  $('.random-name').text(randomName);
  $('.live-p-min > span:visible').text(randomNotificationNumber);
  setTimeout(function() {
    $('.live-noti-box').css({"visibility":"hidden","opacity":"0", "transition":"visibility 1s, opacity 0.5s linear"});
  }, 3000);
}, {{ settings.livenotificationtime }}000);
</script>
