{% style %}

#shopify-section-{{ section.id }} {
	background-color: {{ section.settings.background-color }};
	padding: {{ section.settings.phb }}px 0px
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	{% if section.settings.shadowout %}
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	{% endif %}
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

{% if section.settings.zoomin %}
.gallery-image:hover {
	transform: scale(1.15);
}
{% endif %}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: {{ section.settings.gap }}rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
{% endstyle %}

<div class="featured-gallery featured-gallery--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-gallery">
  <div class="wrapper">

    {% include 'block-title' %}
    
	<div class="gallery">
      {% for block in section.blocks %}
		<div class="gallery-item" data-aos="{{ settings.gallery-aos }}">
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}

          {% if block.settings.image %}
            <img class="gallery-image" src="{{ block.settings.image.src | img_url: "720x" }}" alt="{{ block.settings.image.alt | escape }}"/>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg gallery-image' }}
          {% endif %}

          {% if block.settings.link != blank %}
            </a>
          {% endif %}
		</div>
      {% endfor %}
	</div>
    
  </div>
</div>

{% schema %}
{
  "name": "Gallerie",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "info": "La couleur du titre est éditable tout en bas.",
      "default": "Gallerie d'images"
    },
    {
      "id": "subtitle",
      "type": "textarea",
      "label": "Sous-titre"
    },
    {
      "type": "header",
      "content": "🔹 CUSTOM"
    },
    {
      "id": "background-color",
      "type": "color",
      "label": "Couleur de fond de la section",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "phb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Marge Haut/bas de la section",
      "default": 25
    },
    {
      "type": "paragraph",
      "content": "🔸 TITRE / SOUS-TITRE GÉNÉRAL"
    },
    {
      "type": "select",
      "id": "align-title",
      "options": [
      { "value": "center", "label": "Centre"},
      { "value": "left", "label": "Gauche"}
      ],
      "label": "Alignement du titre",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title-tag",
      "options": [
      { "value": "2", "label": "H2"},
      { "value": "3", "label": "H3"},
      { "value": "4", "label": "H4"},
      { "value": "5", "label": "H5"},
      { "value": "6", "label": "H6"}
      ],
      "label": "Balise titre",
      "default": "2"
    },
    {
      "type": "range",
      "id": "hautsoustitre",
      "min": -10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du sous-titre",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 BARRES DE TITRE"
    },
    {
      "type": "checkbox",
      "id": "enable-bb",
      "label": "Activer la barre sous le titre",
      "info": "La couleur de la barre est éditable tout en bas.",
      "default": false
    },
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 2
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas barre sous le titre",
      "default": 15
    },
    {
      "type": "paragraph",
      "content": "🔸 IMAGE À GAUCHE DU TITRE"
    },
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre",
      "info": "Active l'image dès que sélectionné"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": 0
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 COULEURS"
    },
    {
      "id": "titles-color",
      "type": "color",
      "label": "Couleur du titre",
      "default": "#000000"
    },
    {
      "id": "bordercolor",
      "type": "color",
      "label": "Couleur de barre sous le titre",
      "default": "#000000"
    },
    {
      "id": "subtitlecolor",
      "type": "color",
      "label": "Couleur du sous-titre",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "🔹 GALLERIE"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 3,
      "step": 1,
      "unit": "em",
      "label": "Espace entre les images",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "zoomin",
      "label": "Activer le zoom d'image au survol",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "shadowout",
      "label": "Activer l'ombre des cartes",
      "default": true
    }
  ],
	"blocks": [
	{
		"type": "image",
		"name": "Gallerie",
		"settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image à gauche du titre",
            "info": "Format conseillé : carré 1080x1080"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Lien",
            "info": "Optionnel"
          }
		]
	}
  ],
  "presets": [
    {
      "name": "Gallerie",
      "category": "Image",
		"blocks": [
          { 
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
		  { 
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
    }
  ]
}
{% endschema %}
