{% style %}

.count-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: {{ settings.count-text-size }}px;
  color: {{ settings.count-text-color }};
}
  
.count-timer {
  display: flex;
  margin: {{ settings.count-hb }}px 0px;
}
  
.count-item span#days, .count-item span#hours, .count-item span#minutes, .count-item span#seconds {
  font-size: {{ settings.count-number-size }}px!important;
  color: {{ settings.count-number-color }};
  {% if settings.count-gras %}
  font-weight: 800;
  {% endif %}
}

{% endstyle %}

<ul class="count-timer" data-aos="{{ settings.global-aos }}">
  <li class="count-item"><span id="days"></span>{{ settings.count-days }}</li>
  <li class="count-item"><span id="hours"></span>{{ settings.count-hours }}</li>
  <li class="count-item"><span id="minutes"></span>{{ settings.count-min }}</li>
  <li class="count-item"><span id="seconds"></span>{{ settings.count-sec }}</li>
</ul>

<script>

const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

  	let countDown = new Date("{{ month }} {{ day }}, {{ year }} 00:00:00").getTime(),
    x = setInterval(function() {    

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
      document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}
    }, second)
</script>
