
<style>
.box21{
  text-align:center;
  position:relative;
  overflow: hidden;
}
.box21:after,.box21:before{
  content:"";
  width:2px;
  height:2px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -ms-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0)
}
.box21:hover:after,.box21:hover:before{
  -webkit-transform:scale(400);
  -moz-transform:scale(400);
  -ms-transform:scale(400);
  -o-transform:scale(400);
  transform:scale(400)
}
.box21:before{
  -o-transition:all .5s linear .3s;
  -moz-transition:all .5s linear .3s;
  -ms-transition:all .5s linear .3s;
  -webkit-transition:all .5s linear .3s;
  transition:all .5s linear .3s
}
.box21:hover:before{
  -moz-transition-delay:0s;
  -webkit-transition-delay:0s;
  -o-transition-delay:0s;
  -ms-transition-delay:0s;
  transition-delay:0s
}
.box21:after{
  -o-transition:all .5s linear .6s;
  -moz-transition:all .5s linear .6s;
  -ms-transition:all .5s linear .6s;
  -webkit-transition:all .5s linear .6s;
  transition:all .5s linear .6s
}
.box21:hover:after{
  -moz-transition-delay:.2s;
  -webkit-transition-delay:.2s;
  -o-transition-delay:.2s;
  -ms-transition-delay:.2s;
  transition-delay:.2s
}
.box21 img{
  width:100%;height:auto
}
.box21 .box-content{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:0 0;
  color:#fff;
  padding-top:25px;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -ms-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0);
  -ms-transition:all .3s linear 0s;
  -o-transition:all .3s linear 0s;
  -webkit-transition:all .3s linear 0s;
  -moz-transition:all .3s linear 0s;
  transition:all .3s linear 0s;
  z-index:1
}
.box21:hover .box-content{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-moz-transition-delay:.4s;-webkit-transition-delay:.4s;-o-transition-delay:.4s;-ms-transition-delay:.4s;transition-delay:.4s}

.box21 .title {
  font-size:{{ section.settings.title-size }}px;
  font-weight:700;
  text-transform:uppercase;
  {% if section.settings.enable-bb-hover %}
  border-bottom:1px solid {{ section.settings.bb-color }};
  {% endif %}
  padding-bottom:{{ section.settings.title-pb }}px;
  margin-top:{{ section.settings.title-mb }}px;
  color: {{ section.settings.title-color }}!important;
}
  
.box21 .description{
  font-size: {{ section.settings.subtitle-size}}px;
  padding:0 10px;
  margin:{{ section.settings.subtitle-haut-bas }}px 0;
  color: {{ section.settings.subtitle-color }};
}
.box21 .read-more{
  border: {{ section.settings.border-button-size }}px solid {{ section.settings.border-button-color }};
  padding: 1em 2em 1em 2em;
  width: {{ section.settings.border-button-width }}px;
  color: {{ section.settings.border-button-text }};
  text-transform: uppercase;
  background-color: {{ section.settings.button-background }}75;
  font-size: {{ section.settings.size }}px;
  transition: .{{ section.settings.button-transition }}s ease-in-out;
  display: block;
  margin: auto;
  font-weight: 700;
  border-radius: {{ section.settings.button-border-radius }}px;
}

.box21 .read-more:hover{
  color: {{ section.settings.border-button-text-hover }};
  border: {{ section.settings.border-button-size-hover }}px solid {{ section.settings.border-button-color-hover }};
  background-color: {{ section.settings.button-background-hover }}75;
  transform: scale(1.0{{ section.settings.scale }});
  text-decoration: none;
}
@media only screen and (max-width:479px){.box21 .box-content{padding-top:0}
}
@media only screen and (max-width:359px){.box21 .title{padding-bottom:10px}
}
  
.box21-image1 {
  {% if section.settings.image1 %}
  	background-image: url("{{ section.settings.image1.src | img_url: '360x360' }}");
  {% else %}
    background-image: url("https://www.academy.ca/wp-content/uploads/2020/02/8c39c66bb068a7267ed88c85f4f4e165_facebook-anon-female-blank-template-imgflip_960-960.jpg");
  {% endif %}
  height: 25em;
  background-size: cover;
  background-position: center;
}

.box21-image2 {
  {% if section.settings.image2 %}
  background-image: url("{{ section.settings.image2.src | img_url: '360x360' }}");
  {% else %}
  background-image: url("https://www.academy.ca/wp-content/uploads/2020/02/8c39c66bb068a7267ed88c85f4f4e165_facebook-anon-female-blank-template-imgflip_960-960.jpg");
  {% endif %}
  height: 25em;
  background-size: cover;
  background-position: center;
}

.box21-image3 {
  {% if section.settings.image3 %}
  background-image: url("{{ section.settings.image3.src | img_url: '360x360' }}");
  {% else %}
  background-image: url("https://www.academy.ca/wp-content/uploads/2020/02/8c39c66bb068a7267ed88c85f4f4e165_facebook-anon-female-blank-template-imgflip_960-960.jpg");
  {% endif %}
  height: 25em;
  background-size: cover;
  background-position: center;
}

.image-hover-effect1 {
  padding-top: {{ section.settings.mts }}em;
  padding-bottom: {{ section.settings.mbs }}em;
  background-color: {{ section.settings.background-color }};
}
  
{% if section.settings.enable-first-letter %}
  .mainHeading.firstletterimghover1::first-letter {
    color: {{ section.settings.first-letter-color }};
  }
{% endif %}

</style>


<section class="image-hover-effect1">
  <main class="image-hover1-block" style="
	width:100%;
  ">
   	{% if section.settings.enable-title %}
    <section class="row">
      <article class="col-sm-12sectionHead" style="
		font-weight: 600;
        margin-bottom: {{ section.settings.title-mb }}px;
        display: flex;
        flex-direction: column;
        align-items: {{ section.settings.sectionHead-align }};
		color: {{ section.settings.titles-color }};
	  " data-aos="{{ section.settings.aos-title }}">
        <div class="favtitle-contain" style="
			display: flex;
    		align-items: {{ section.settings.sectionHead-align }};
		">
          {% if section.settings.enable-favicon %}
            {% if section.settings.favicon %}
            <img class="favtitle" style="
				margin-bottom: {{ section.settings.favicon-mb }}px;
                margin-right: {{ section.settings.favicon-mr }}px;
			" width="{{ section.settings.favicon-size }}px" src="{{ section.settings.favicon.src | img_url: "720x" }}" />
            {% else %}
            <img class="favtitle" style="
				margin-bottom: {{ section.settings.favicon-mb }}px;
                margin-right: {{ section.settings.favicon-mr }}px;
			" width="{{ section.settings.favicon-size }}px" src="https://webstockreview.net/images/clipart-flames-emoji-5.png" />
            {% endif %}
          {% endif %}
          <h{{ section.settings.title-tag }} class="mainHeading {% if section.settings.enable-first-letter %}firstletterimghover1{% endif %}" style="
            {% if section.settings.enable-leftbar %}
            border-left: {{ section.settings.mainHeading-leftbar-width }}px solid {{ section.settings.mainHeading-leftbar-color }};
            padding-left: {{ section.settings.mainHeading-leftbar-padding }}px;
            {% endif %}
            width: fit-content;
          ">{{ section.settings.avis-title }}</h{{ section.settings.title-tag }}>
        </div>
        {% if section.settings.enable-bb %}
		<div style=" 
          border-bottom-style: solid;
          border-bottom-width: {{ section.settings.bbwidth }}px;
          width: {{ section.settings.bblength }}%;
          height: 100%;
          margin-top: {{ section.settings.bbmt }}px;
          border-bottom-color: {{ section.settings.bordercolor }};"
		 >
         </div>
        {% endif %}
        {% if section.settings.enable-subtitle %}
        	<h{{ section.settings.subtitle-tag }} class="mainSubHeading" style="
            margin-top: {{ section.settings.mshmt }}px;
            margin-bottom: {{ section.settings.mshmb }}px;
			">{{ section.settings.avis-subtitle }}</h{{ section.settings.subtitle-tag }}>
        {% endif %}
      </article>
    </section>
    {% endif %}
    <div class="row mt-30">
      <div class="col-md-4 col-sm-6" style="
		padding:0;
	  " data-aos="{{ section.settings.aos-image }}">
        <div class="box21 box21-image1">
          <div class="box-content">
            {% if section.settings.enable-title-hover %}
            <h4 class="title">{{ section.settings.image1-title }}</h4>
            {% endif %}
            {% if section.settings.enable-subtitle-hover %}
            <p class="description">{{ section.settings.image1-content}}</p>
            {% endif %}
            {% if section.settings.enable-button-hover %}
            <a class="btn read-more" href="{{ section.settings.image1-link }}">{{ section.settings.image1-button-text }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="
		padding:0;
	  " data-aos="{{ section.settings.aos-image }}">
        <div class="box21 box21-image2">
          <div class="box-content">
            {% if section.settings.enable-title-hover %}
            <h4 class="title">{{ section.settings.image2-title }}</h4>
            {% endif %}
            {% if section.settings.enable-subtitle-hover %}
            <p class="description">{{ section.settings.image2-content}}</p>
            {% endif %}
            {% if section.settings.enable-button-hover %}
            <a class="btn read-more" href="{{ section.settings.image2-link }}">{{ section.settings.image2-button-text }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" style="
		padding:0;
	  " data-aos="{{ section.settings.aos-image }}">
        <div class="box21 box21-image3">
          <div class="box-content">
            {% if section.settings.enable-title-hover %}
            <h4 class="title">{{ section.settings.image3-title }}</h4>
            {% endif %}
            {% if section.settings.enable-subtitle-hover %}
            <p class="description">{{ section.settings.image3-content}}</p>
            {% endif %}
            {% if section.settings.enable-button-hover %}
            <a class="btn read-more" href="{{ section.settings.image3-link }}">{{ section.settings.image3-button-text }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </main>
</section>

{% schema %}
{
    "name": "image-hover-effet",
    "settings": [
	{
        "type": "header",
        "content": "⬛️ SECTION GÉNÉRAL"
    },
	{
       "id": "background-color",
       "type": "color",
       "label": "Couleur de fond de la section",
	   "default": "#ffffff"
	},
    {
      "type": "range",
      "id": "mts",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Marge du haut de section",
      "default": 5
    },
    {
      "type": "range",
      "id": "mbs",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Marge du bas de section",
      "default": 0
    },
	{
        "type": "header",
        "content": "⬛️ TITRE ET SOUS-TITRE DE SECTION"
    },
    {
       "type": "select",
       "id": "aos-title",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll du block titre",
	   "default": "none"
    },
	{
		"type": "paragraph",
		"content": "🔹 TITRE ET SOUS-TITRE GÉNÉRAL"
	},
    {
       "type": "select",
       "id": "sectionHead-align",
       "options": [
          { "value": "center", "label": "Centre"},
          { "value": "end", "label": "Gauche"},
		  { "value": "flex-end", "label": "Droite"}
       ],
       "label": "Alignement des titres",
	   "default": "center"
    },
    {
      "type": "range",
      "id": "title-mb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du block titre",
      "default": 15
    },
	{
		"type": "checkbox",
        "id": "enable-title",
        "label": "Activer le titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-first-letter",
        "label": "Activer la couleur différente sur la première lettre du titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-favicon",
        "label": "Activer l'icone à gauche du titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-leftbar",
        "label": "Activer la barre latérale",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-bb",
        "label": "Activer la barre sous le titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-subtitle",
        "label": "Activer le sous-titre",
		"default": false
	},
	{
		"type": "paragraph",
		"content": "🔹 TITRE"
	},
	{
		"type": "paragraph",
		"content": "ℹ️ Si vous souhaitez modifier le style des balises titre, rendez vous dans 'Paramètres de Thème'"
	},
	{
		"id": "avis-title",
		"type": "text",
		"label": "Titre",
		"default": "IMAGE AVEC ACTIONS AU SURVOL"
	},
    {
       "type": "select",
       "id": "title-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise titre",
	   "default": "2"
    },
	{
		"type": "paragraph",
        "content": "🔹 SOUS TITRE (⚠️ SEULEMENT SI TITRE ACTIF)"
	},
	{
		"id": "avis-subtitle",
		"type": "text",
		"label": "Sous-titre",
		"default": "TITRES, SOUS-TITRES ET BOUTONS VONT SE RÉVÉLER..."
	},
    {
       "type": "select",
       "id": "subtitle-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise sous-titre",
	   "default": "3"
    },
	{
		"type": "paragraph",
		"content": "🔸 MARGES DU SOUS-TITRE"
	},
    {
      "type": "range",
      "id": "mshmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du haut du sous-titre",
      "default": 20
    },
    {
      "type": "range",
      "id": "mshmb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du sous-titre",
      "default": 20
    },
	{
		"type": "paragraph",
		"content": "🔹 BARRES (⚠️ SI ACTIF)"
	},
	{
		"type": "paragraph",
		"content": "🔸 BARRE LATÉRALE"
	},
    {
      "type": "range",
      "id": "mainHeading-leftbar-width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre latérale",
      "default": 3
    },
    {
      "type": "range",
      "id": "mainHeading-leftbar-padding",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge entre titre et barre latérale",
      "default": 15
    },
	{
		"type": "paragraph",
		"content": "🔸 BARRE SOUS LE TITRE"
	},
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 3
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge entre titre et barre sous le titre",
      "default": 30
    },
	{
		"type": "paragraph",
		"content": "🔸 COULEURS"
	},
	{
       "id": "titles-color",
       "type": "color",
       "label": "Couleur du titre et sous-titre",
	   "default": "#000000"
	},
	{
       "id": "first-letter-color",
       "type": "color",
       "label": "Couleur de la première lettre du titre",
	   "default": "#ff0000"
	},
	{
       "id": "mainHeading-leftbar-color",
       "type": "color",
       "label": "Couleur de barre latérale",
	   "default": "#000000"
	},
	{
       "id": "bordercolor",
       "type": "color",
       "label": "Couleur de barre sous le titre",
	   "default": "#000000"
	},
	{
		"type": "paragraph",
		"content": "🔹 IMAGE À GAUCHE DU TITRE (⚠️ SI ACTIF)"
	},
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": -4
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 4
    },
	{
        "type": "header",
        "content": "⬛️ Conteneur de cartes"
    },
    {
       "type": "select",
       "id": "aos-image",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll des images",
	   "default": "none"
    },
	{
		"type": "paragraph",
        "content": "🔹 ÉLÉMENTS"
	},
	{
		"type": "checkbox",
        "id": "enable-title-hover",
        "label": "Activer les titres au survol",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-bb-hover",
        "label": "Activer le séparateur",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-subtitle-hover",
        "label": "Activer les sous-titres au survol",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-button-hover",
        "label": "Activer les boutons au survol",
		"default": true
	},
	{
		"type": "paragraph",
        "content": "🔹 MARGES"
	},
    {
      "type": "range",
      "id": "title-pb",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge interne du bas du titre",
      "default": 22
    },
    {
      "type": "range",
      "id": "subtitle-haut-bas",
      "min": 1,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du sous-titre",
      "default": 32
    },
	{
		"type": "paragraph",
        "content": "🔹 TAILLES"
	},
	{
		"type": "paragraph",
        "content": "🔸 TITRE ET SOUS-TITRE"
	},
    {
      "type": "range",
      "id": "title-size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille du titre",
      "default": 30
    },
    {
      "type": "range",
      "id": "subtitle-size",
      "min": 1,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "taille du sous-titre",
      "default": 18
    },
	{
		"type": "paragraph",
        "content": "🔸 BOUTON"
	},
    {
      "type": "range",
      "id": "border-button-width",
      "min": 50,
      "max": 250,
      "step": 2,
      "unit": "px",
      "label": "taille du bouton",
      "default": 170
    },
    {
      "type": "range",
      "id": "size",
      "min": 1,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "taille de police du bouton",
      "default": 15
    },
	{
      "type": "paragraph",
      "content": "🔹 BORDURES DE BOUTON"
	},
    {
      "type": "range",
      "id": "border-button-size",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "bordure du bouton",
      "default": 5
    },
    {
      "type": "range",
      "id": "button-border-radius",
      "min": 1,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Arrondi du bouton",
      "default": 2
    },
    {
      "type": "range",
      "id": "border-button-size-hover",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "bordure du bouton",
      "default": 5
    },
	{
		"type": "paragraph",
        "content": "🔹 COULEURS"
	},
	{
       "id": "title-color",
       "type": "color",
       "label": "Couleur du titre",
	   "default": "#ffffff"
	},
	{
       "id": "bb-color",
       "type": "color",
       "label": "Couleur du séparateur",
	   "default": "#ffffff"
	},
	{
       "id": "subtitle-color",
       "type": "color",
       "label": "Couleur du sous-titre",
	   "default": "#ffffff"
	},
	{
		"type": "paragraph",
        "content": "🔸 BOUTON"
	},
	{
       "id": "button-background",
       "type": "color",
       "label": "Couleur de fond du bouton",
	   "default": "#000000"
	},
	{
       "id": "button-background-hover",
       "type": "color",
       "label": "Couleur du fond au survol",
	   "default": "#ffffff"
	},
	{
       "id": "border-button-color",
       "type": "color",
       "label": "Couleur de bordure du bouton",
	   "default": "#ffffff"
	},
	{
       "id": "border-button-color-hover",
       "type": "color",
       "label": "Couleur de bordure au survol",
	   "default": "#000000"
	},
	{
       "id": "border-button-text",
       "type": "color",
       "label": "Couleur du texte du bouton",
	   "default": "#ffffff"
	},
	{
       "id": "border-button-text-hover",
       "type": "color",
       "label": "Couleur du texte au survol",
	   "default": "#000000"
	},
	{
		"type": "paragraph",
        "content": "🔹 SURVOL"
	},
    {
      "type": "range",
      "id": "button-transition",
      "min": 0,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "Temps de transition au survol",
      "default": 2
    },
    {
      "type": "range",
      "id": "scale",
      "min": 0,
      "max": 9,
      "step": 1,
      "unit": "%",
      "label": "Zoom du bouton au survol",
      "default": 2
    },
	{
        "type": "header",
        "content": "⬛️ ÉDITION DU CONTENU"
    },
	{
		"type": "paragraph",
        "content": "🔹 IMAGE 1"
	},
	{
        "id": "image1",
        "type": "image_picker",
        "label": "Image de Fond 1"
	},
	{
		"id": "image1-title",
		"type": "text",
		"label": "Titre image 1",
		"default": "Votre titre"
	},
	{
		"id": "image1-content",
		"type": "text",
		"label": "Contenu image 1",
		"default": "Tu peux mettre tout ce que tu veux"
	},
	{
		"id": "image1-button-text",
		"type": "text",
		"label": "Contenu bouton 1",
		"default": "Bouton"
	},
	{
		"id": "image1-link",
		"type": "url",
		"label": "Lien bouton 1"
	},
	{
		"type": "paragraph",
        "content": "🔹 IMAGE 2"
	},
	{
        "id": "image2",
        "type": "image_picker",
        "label": "Image de Fond 2"
	},
	{
		"id": "image2-title",
		"type": "text",
		"label": "Titre image 1",
		"default": "Votre titre"
	},
	{
		"id": "image2-content",
		"type": "text",
		"label": "Contenu image 1",
		"default": "Tu peux mettre tout ce que tu veux"
	},
	{
		"id": "image2-button-text",
		"type": "text",
		"label": "Contenu bouton 1",
		"default": "Bouton"
	},
	{
		"id": "image2-link",
		"type": "url",
		"label": "Lien bouton 1"
	},
	{
		"type": "paragraph",
        "content": "🔹 IMAGE 3"
	},
	{
        "id": "image3",
        "type": "image_picker",
        "label": "Image de Fond 3"
	},
	{
		"id": "image3-title",
		"type": "text",
		"label": "Titre image 1",
		"default": "Votre titre"
	},
	{
		"id": "image3-content",
		"type": "text",
		"label": "Contenu image 1",
		"default": "Tu peux mettre tout ce que tu veux"
	},
	{
		"id": "image3-button-text",
		"type": "text",
		"label": "Contenu bouton 1",
		"default": "Bouton"
	},
	{
		"id": "image3-link",
		"type": "url",
		"label": "Lien bouton 1"
	}],
	"presets": [{
		"name": "🔧 Survol Image 1",
		"category": "Image + Texte"
  	}
  ]
}

{% endschema %}


