  <!-- AJOUT DES LIBRAIRIES POUR FAIRE FONCTIONNER LES SECTIONS ET SNIPPETS -->
  <!-- CELLE CI, C'EST POUR LES ICONES -->
  {{ '//use.fontawesome.com/releases/v5.13.0/css/all.css' | stylesheet_tag }}
  {{ '//use.fontawesome.com/releases/v5.13.0/css/v4-shims.css' | stylesheet_tag }}
  <!-- JQUERY, INDISPENSABLE ! -->
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  <!-- BOOTSTRAP POUR LA LIBRAIRIE CSS/JS -->
  {{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' | stylesheet_tag }}
  {{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' | script_tag }}
  <!-- SLICK C'EST POUR LES CAROUSELS -->
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | script_tag }}
  <!-- AOS C'EST POUR LES ANIMATIONS AU SCROLL :) -->
  {{ 'aos.css' | asset_url | stylesheet_tag }}
  {{ 'aos.js' | asset_url | script_tag }}
  <!-- ICI C'EST NOTRE STYLE ADITIONNEL (TOUJOURS À LA FIN POUR QU'IL SOIT PLUS IMPORTANT QUE LES AUTRES) -->
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  <!-- FIN D'AJOUT DES LIBRAIRIES -->
