{% style %}

#shopify-section-{{ section.id }} {
	background: -webkit-linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }}); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }});
	padding: {{ section.settings.phb }}px 0px
}
  
.logogrid__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.logogrid__img {
  {% if section.settings.enable-grayscale %}
  -webkit-filter: grayscale(100%) contrast(25%);
          filter: grayscale(100%) contrast(25%);
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
  {% endif %}
}
.logogrid__img:hover {
  {% if section.settings.enable-grayscale %}
  -webkit-filter: grayscale(0) contrast(100%);
          filter: grayscale(0) contrast(100%);
  {% endif %}
}

.container-partner2 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
.logoPartner {
  min-height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: {{ section.settings.logo-haut-bas }}px 0px
}

{% endstyle %}

<div class="featured-logo featured-logo--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-logo">
  <div class="wrapper">

   	{% include 'block-title' %}
    
      <div class="row" style="
		margin-top: {{ section.settings.logo-mt }}px;
		display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
	  ">
        {% assign count = section.settings.cart-number %}
        {% for block in section.blocks %}
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 logoPartner" data-aos="{{ settings.logo-aos }}">
          {% if block.settings.image %}
          	<img src="{{ block.settings.image.src | img_url: '110x110' }}" class="logogrid__img" alt="{{ block.settings.alt }}" style="
				width: {{ block.settings.logo-taille }}px;
			" />
          {% else %}
          	{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        {% endfor %}
      </div>
  </div>
</div>

{% schema %}
{
    "name": "Liste de logos",
	"max_blocks": 8,
    "settings": [
	{
        "type": "header",
        "content": "⬛️ SECTION GÉNÉRAL"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Titre",
      "info": "La couleur du titre est éditable tout en bas.",
      "default": "Liste de logos"
    },
    {
      "id": "subtitle",
      "type": "textarea",
      "label": "Sous-titre"
    },
    {
      "type": "header",
      "content": "🔹 CUSTOM"
    },
    {
      "id": "background-gradient1",
      "type": "color",
      "label": "Couleur de fond dégradé 1",
      "default": "#ffffff"
    },
    {
      "id": "background-gradient2",
      "type": "color",
      "label": "Couleur de fond dégradé 2",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "gradient-side",
      "options": [
        { "value": "to left", "label": "Droite > Gauche"},
        { "value": "to right", "label": "Gauche > Droite"},
        { "value": "to bottom", "label": "Haut > Bas"},
        { "value": "to top", "label": "Bas > Haut"}
      ],
      "label": "Orientation du dégradé",
      "default": "to right"
    },
    {
      "type": "range",
      "id": "phb",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Marge Haut/bas de la section",
      "default": 25
    },
    {
      "type": "paragraph",
      "content": "🔸 TITRE / SOUS-TITRE GÉNÉRAL"
    },
    {
      "type": "select",
      "id": "align-title",
      "options": [
      { "value": "center", "label": "Centre"},
      { "value": "left", "label": "Gauche"}
      ],
      "label": "Alignement du titre",
      "default": "center"
    },
    {
      "type": "select",
      "id": "title-tag",
      "options": [
      { "value": "2", "label": "H2"},
      { "value": "3", "label": "H3"},
      { "value": "4", "label": "H4"},
      { "value": "5", "label": "H5"},
      { "value": "6", "label": "H6"}
      ],
      "label": "Balise titre",
      "default": "2"
    },
    {
      "type": "range",
      "id": "hautsoustitre",
      "min": -10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas du sous-titre",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 BARRES DE TITRE"
    },
    {
      "type": "checkbox",
      "id": "enable-bb",
      "label": "Activer la barre sous le titre",
      "info": "La couleur de la barre est éditable tout en bas.",
      "default": false
    },
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 2
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge haut/bas barre sous le titre",
      "default": 15
    },
    {
      "type": "paragraph",
      "content": "🔸 IMAGE À GAUCHE DU TITRE"
    },
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre",
      "info": "Active l'image dès que sélectionné"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": 0
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "🔸 COULEURS"
    },
    {
      "id": "titles-color",
      "type": "color",
      "label": "Couleur du titre",
      "default": "#000000"
    },
    {
      "id": "bordercolor",
      "type": "color",
      "label": "Couleur de barre sous le titre",
      "default": "#000000"
    },
    {
      "id": "subtitlecolor",
      "type": "color",
      "label": "Couleur du sous-titre",
      "default": "#000000"
    },
	{
        "type": "header",
        "content": "⬛️ Conteneur de logo"
    },
	{
		"type": "checkbox",
        "id": "enable-grayscale",
        "label": "Activer le filtre au survol",
		"default": false
	}
  ],
	"blocks": [
	{
		"type": "select",
		"name": "Logo",
		"settings": [
		{
			"id": "image",
			"type": "image_picker",
			"label": "Logo"
		},
		{
			"id": "alt",
			"type": "text",
			"label": "Texte alternatif du logo"
		},
        {
          "type": "range",
          "id": "logo-taille",
          "min": 50,
          "max": 250,
          "step": 2,
          "unit": "px",
          "label": "Taille des logos",
          "default": 100
        }
	  ]
	}
  ],
	"presets": [{
		"name": "Liste de logos",
		"category": "Image",
		"blocks": [
          { 
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          }
        ]
  }]
}

{% endschema %}
