{% style %}

.viewer {
  color: {{ settings.sniper-color }};
  padding: {{ settings.viewer-padding }}px 0px;
}
  
.viewer span {
  color: {{ settings.sniper-color-span }};
  {% if settings.sniper-gras %}
  	font-weight: 800;
  {% endif %}
}

{% endstyle %}

<p class="viewer" style="margin:0;" data-aos="{{ settings.global-aos }}"><i class="fa fa-eye" style="color:{{ settings.icon-sniper-color }}"></i> {{ settings.text-before-sniper }} <span class="generate viewers"></span> {{ settings.text-after-sniper }}</p>

<script>
  //See number of user on page
  setInterval(function sniper(){
    var generator = {
      
    min: {{ settings.sales-min }}, //Valeur minimale
    max: {{ settings.sales-max }}, //Valeur maximumale
      
    getRandom: function () {
        return Math.round(Math.random() * (this.max - this.min) + this.min);
      },
      setMin: function (newMin) {
        this.min = parseInt(newMin);
      },
      setMax: function (newMax) {
        this.max = parseInt(newMax);
      }
    };
    if (document.querySelector('.viewers')) {
      var number = document.querySelector('.viewers');
      number.textContent = generator.getRandom();
    };
  }, 3000);
</script>
