<style>

.benefits {
  padding-bottom: {{ section.settings.mbs }}em;
  padding-top: {{ section.settings.mts }}em;
  background-color: {{ section.settings.background-color }};
}
  
.single-benefits {
  background-color: {{ section.settings.cart-color }};
  border: {{ section.settings.border-width}}px solid {{ section.settings.border-color }};
  margin-top: 1em;
  text-align: {{ section.settings.cart-align }};
  border-bottom: {{ section.settings.bb-width}}px solid {{ section.settings.bb-color }};
  border-radius: {{ section.settings.border-radius }}px;
  box-shadow: 0px 0px {{ section.settings.shadow }}px {{ section.settings.shadow-color }};
  padding: {{ section.settings.haut-bas }}px {{ section.settings.droite-gauche }}px;
  transition: .{{ section.settings.transition }}s ease-in-out;
  color: {{ section.settings.text-color }};
}

.desc p {
  color: {{ section.settings.text-color }};
}
  
.single-benefits:hover {
  background-color: {{ section.settings.hover-cart-color }};
  transform: scale(1.0{{ section.settings.scale }});
  color: {{ section.settings.hover-text-color }};
  box-shadow: 0px 0px {{ section.settings.shadow-hover }}px {{ section.settings.shadow-color-hover }};
}
  
.single-benefits:hover > .icon-benefits {
  color: {{ section.settings.hover-icon-color }};
}
  
.single-benefits:hover > .desc p {
  color: {{ section.settings.hover-icon-color }};
}
  
.icon-benefits {
  font-size: 48px;
  color: {{ section.settings.icon-color }};
  margin-bottom: 10px;
}
  
.sectionHead {
  font-weight: 600;
  margin-bottom: 2em;
}
  
@media screen and (min-width: 768px) {
  .row.benefits {
     padding: 0px 5px;
  }
}
  
{% if section.settings.enable-first-letter %}
  .mainHeading.firstletterbenef1::first-letter {
    color: {{ section.settings.first-letter-color }};
  }
{% endif %}
  
</style>

<section id="services" class="benefits">
  <main class="benefits-block mt-100" style="
	width:100%;
  ">
	{% if section.settings.enable-title %}
    <section class="row">
      <article class="col-sm-12 sectionHead" style="
		font-weight: 600;
        margin-bottom: {{ section.settings.title-mb }}px;
        display: flex;
        flex-direction: column;
        align-items: {{ section.settings.sectionHead-align }};
		color: {{ section.settings.titles-color }};
	  " data-aos="{{ section.settings.aos-title }}">
        <div class="favtitle-contain" style="
			display: flex;
    		align-items: {{ section.settings.sectionHead-align }};
		">
          {% if section.settings.enable-favicon %}
            {% if section.settings.favicon %}
            <img class="favtitle" style="
				margin-bottom: {{ section.settings.favicon-mb }}px;
                margin-right: {{ section.settings.favicon-mr }}px;
			" width="{{ section.settings.favicon-size }}px" src="{{ section.settings.favicon.src | img_url: "720x" }}" />
            {% else %}
            <img class="favtitle" style="
				margin-bottom: {{ section.settings.favicon-mb }}px;
                margin-right: {{ section.settings.favicon-mr }}px;
			" width="{{ section.settings.favicon-size }}px" src="https://webstockreview.net/images/clipart-flames-emoji-5.png" />
            {% endif %}
          {% endif %}
          <h{{ section.settings.title-tag }} class="mainHeading {% if section.settings.enable-first-letter %}firstletterbenef1{% endif %}" style="
            {% if section.settings.enable-leftbar %}
            border-left: {{ section.settings.mainHeading-leftbar-width }}px solid {{ section.settings.mainHeading-leftbar-color }};
            padding-left: {{ section.settings.mainHeading-leftbar-padding }}px;
            {% endif %}
            width: fit-content;
          ">{{ section.settings.avis-title }}</h{{ section.settings.title-tag }}>
        </div>
        {% if section.settings.enable-bb %}
		<div style=" 
          border-bottom-style: solid;
          border-bottom-width: {{ section.settings.bbwidth }}px;
          width: {{ section.settings.bblength }}%;
          height: 100%;
          margin-top: {{ section.settings.bbmt }}px;
          border-bottom-color: {{ section.settings.bordercolor }};"
		 >
         </div>
        {% endif %}
        {% if section.settings.enable-subtitle %}
        	<h{{ section.settings.subtitle-tag }} class="mainSubHeading" style="
            margin-top: {{ section.settings.mshmt }}px;
            margin-bottom: {{ section.settings.mshmb }}px;
			">{{ section.settings.avis-subtitle }}</h{{ section.settings.subtitle-tag }}>
        {% endif %}
      </article>
    </section>
    {% endif %}
    <div class="benefits" style="
	  display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
	">
    {% assign count = section.settings.cart-number %}
    {% for block in section.blocks %}
      <div class="col-lg-{{ 12 | divided_by: count }} col-sm-6 col-xs-12">
        <div class="single-benefits" data-aos="{{ section.settings.aos-benef }}">
          {% if block.settings.image %}
          <img src="{{ block.settings.image.src | img_url: '110x110' }}" class="img-benefits" alt="{{ section.settings.alternative-text }}" width="{{ section.settings.image-width }}px" />
          {% else %}
          <div class="icon-benefits">
          	<i class="fa{{ block.settings.icon-type }} fa-{{ block.settings.icon }}"></i>
          </div>
          {% endif %}
          <div class="desc">
            <h4>{{ block.settings.title }}</h4>
            <p class="benefitsText">{{ block.settings.content }}</p>
          </div>
        </div>
      </div>
     {% endfor %}
    </div>
  </main>
</section>

{% schema %}
{
    "name": "Benefits",
	"max_blocks": 4,
    "settings": [
	{
        "type": "header",
        "content": "⬛️ SECTION GÉNÉRAL"
    },
	{
       "id": "background-color",
       "type": "color",
       "label": "Couleur de fond de la section",
	   "default": "#ffffff"
	},
    {
      "type": "range",
      "id": "mts",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Marge du haut de section",
      "default": 5
    },
    {
      "type": "range",
      "id": "mbs",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "em",
      "label": "Marge du bas de section",
      "default": 5
    },
	{
        "type": "header",
        "content": "⬛️ TITRE ET SOUS-TITRE DE SECTION"
    },
    {
       "type": "select",
       "id": "aos-title",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll du block titre",
	   "default": "none"
    },
	{
		"type": "paragraph",
		"content": "🔹 TITRE ET SOUS-TITRE GÉNÉRAL"
	},
    {
       "type": "select",
       "id": "sectionHead-align",
       "options": [
          { "value": "center", "label": "Centre"},
          { "value": "end", "label": "Gauche"},
		  { "value": "flex-end", "label": "Droite"}
       ],
       "label": "Alignement des titres",
	   "default": "center"
    },
    {
      "type": "range",
      "id": "title-mb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du block titre",
      "default": 0
    },
	{
		"type": "checkbox",
        "id": "enable-title",
        "label": "Activer le titre",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-first-letter",
        "label": "Activer la couleur différente sur la première lettre du titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-favicon",
        "label": "Activer l'icone à gauche du titre",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-leftbar",
        "label": "Activer la barre latérale",
		"default": false
	},
	{
		"type": "checkbox",
        "id": "enable-bb",
        "label": "Activer la barre sous le titre",
		"default": true
	},
	{
		"type": "checkbox",
        "id": "enable-subtitle",
        "label": "Activer le sous-titre",
		"default": false
	},
	{
		"type": "paragraph",
		"content": "🔹 TITRE"
	},
	{
		"type": "paragraph",
		"content": "ℹ️ Si vous souhaitez modifier le style des balises titre, rendez vous dans 'Paramètres de Thème'"
	},
	{
		"id": "avis-title",
		"type": "text",
		"label": "Titre",
		"default": "NOS ENGAGEMENTS"
	},
    {
       "type": "select",
       "id": "title-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise titre",
	   "default": "2"
    },
	{
		"type": "paragraph",
        "content": "🔹 SOUS TITRE (⚠️ SEULEMENT SI TITRE ACTIF)"
	},
	{
		"id": "avis-subtitle",
		"type": "text",
		"label": "Sous-titre",
		"default": "Vous avez le droit à..."
	},
    {
       "type": "select",
       "id": "subtitle-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise sous-titre",
	   "default": "3"
    },
	{
		"type": "paragraph",
		"content": "🔸 MARGES DU SOUS-TITRE"
	},
    {
      "type": "range",
      "id": "mshmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du haut du sous-titre",
      "default": 5
    },
    {
      "type": "range",
      "id": "mshmb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas du sous-titre",
      "default": 20
    },
	{
		"type": "paragraph",
		"content": "🔹 BARRES (⚠️ SI ACTIF)"
	},
	{
		"type": "paragraph",
		"content": "🔸 BARRE LATÉRALE"
	},
    {
      "type": "range",
      "id": "mainHeading-leftbar-width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre latérale",
      "default": 3
    },
    {
      "type": "range",
      "id": "mainHeading-leftbar-padding",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Marge entre titre et barre latérale",
      "default": 15
    },
	{
		"type": "paragraph",
		"content": "🔸 BARRE SOUS LE TITRE"
	},
    {
      "type": "range",
      "id": "bbwidth",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la barre sous le titre",
      "default": 3
    },
    {
      "type": "range",
      "id": "bblength",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Taille de la barre sous le titre",
      "default": 9
    },
    {
      "type": "range",
      "id": "bbmt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Marge entre titre et barre sous le titre",
      "default": 30
    },
	{
		"type": "paragraph",
		"content": "🔸 COULEURS"
	},
	{
       "id": "titles-color",
       "type": "color",
       "label": "Couleur du titre et sous-titre",
	   "default": "#000000"
	},
	{
       "id": "first-letter-color",
       "type": "color",
       "label": "Couleur de la première lettre du titre",
	   "default": "#ff0000"
	},
	{
       "id": "mainHeading-leftbar-color",
       "type": "color",
       "label": "Couleur de barre latérale",
	   "default": "#000000"
	},
	{
       "id": "bordercolor",
       "type": "color",
       "label": "Couleur de barre sous le titre",
	   "default": "#000000"
	},
	{
		"type": "paragraph",
		"content": "🔹 IMAGE À GAUCHE DU TITRE (⚠️ SI ACTIF)"
	},
    {
      "id": "favicon",
      "type": "image_picker",
      "label": "Image à gauche du titre"
    },
    {
      "type": "range",
      "id": "favicon-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 25
    },
    {
      "type": "range",
      "id": "favicon-mb",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Marge du bas de l'image",
      "default": -4
    },
    {
      "type": "range",
      "id": "favicon-mr",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Marge de droite de l'image",
      "default": 4
    },
	{
        "type": "header",
        "content": "⬛️ Conteneur de cartes"
    },
    {
       "type": "select",
       "id": "aos-benef",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll des cartes",
	   "default": "none"
    },
	{
		"type": "paragraph",
		"content": "🔹 NOMBRE DE CARTES"
	},
	{
       "id": "cart-number",
       "type": "select",
       "options": [
          { "value": "1", "label": "1 carte"},
          { "value": "2", "label": "2 cartes"},
          { "value": "3", "label": "3 cartes"},
          { "value": "4", "label": "4 cartes"}
       ],
       "label": "Nombre d'assurances",
	   "default": "3"
	},
	{
		"type": "paragraph",
		"content": "🔹 ALIGNEMENT"
	},
    {
       "type": "select",
       "id": "cart-align",
       "options": [
          { "value": "center", "label": "Centre"},
          { "value": "left", "label": "Gauche"},
		  { "value": "right", "label": "Droite"}
       ],
       "label": "Alignement des assurances",
	   "default": "left"
    },
	{
		"type": "paragraph",
		"content": "🔹 MARGES"
	},
    {
      "type": "range",
      "id": "haut-bas",
      "min": 0,
      "max": 99,
      "step": 1,
      "unit": "px",
      "label": "Marge interne Haut/Bas",
      "default": 0
    },
    {
      "type": "range",
      "id": "droite-gauche",
      "min": 0,
      "max": 99,
      "step": 1,
      "unit": "px",
      "label": "Marge interne Droite/Gauche",
      "default": 3
    },
	{
		"type": "paragraph",
		"content": "🔹 BORDURES"
	},
    {
      "type": "range",
      "id": "border-width",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la bordure de carte",
      "default": 0
    },
    {
      "type": "range",
      "id": "bb-width",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Épaisseur de la bordure du dessous",
      "default": 0
    },
    {
      "type": "range",
      "id": "border-radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Arrondi des bordures de carte",
      "default": 0
    },
	{
		"type": "paragraph",
		"content": "🔹 OMBRES"
	},
    {
      "type": "range",
      "id": "shadow",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Portée de l'ombre",
      "default": 0
    },
    {
      "type": "range",
      "id": "shadow-hover",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Portée de l'ombre au survol",
      "default": 0
    },
	{
		"type": "paragraph",
		"content": "🔹 COULEURS"
	},
	{
       "id": "cart-color",
       "type": "color",
       "label": "Couleur de carte",
	   "default": "#ffffff"
	},
	{
       "id": "hover-cart-color",
       "type": "color",
       "label": "Couleur de carte au survol",
	   "default": "#ffffff"
	},
	{
       "id": "icon-color",
       "type": "color",
       "label": "Couleur d'icone",
	   "default": "#000000"
	},
	{
       "id": "hover-icon-color",
       "type": "color",
       "label": "Couleur d'icone au survol",
	   "default": "#000000"
	},
	{
       "id": "text-color",
       "type": "color",
       "label": "Couleur de texte",
	   "default": "#000000"
	},
	{
       "id": "hover-text-color",
       "type": "color",
       "label": "Couleur de texte au survol",
	   "default": "#000000"
	},
	{
       "id": "bb-color",
       "type": "color",
       "label": "Couleur de la bordure du dessous",
	   "default": "#000000"
	},
	{
       "id": "border-color",
       "type": "color",
       "label": "Couleur de la bordure de carte",
	   "default": "#eeeeee"
	},
	{
       "id": "shadow-color",
       "type": "color",
       "label": "Couleur de l'ombre",
	   "default": "#eeeeee"
	},
	{
       "id": "shadow-color-hover",
       "type": "color",
       "label": "Couleur de l'ombre au survol",
	   "default": "#eeeeee"
	},
	{
		"type": "paragraph",
		"content": "🔹 CARTE AU SURVOL"
	},
    {
      "type": "range",
      "id": "transition",
      "min": 1,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "Vitesse de transition",
      "default": 1
    },
    {
      "type": "range",
      "id": "scale",
      "min": 0,
      "max": 9,
      "step": 1,
      "unit": "%",
      "label": "Zoom de la carte",
      "default": 0
    },
	{
		"type": "paragraph",
		"content": "🔸 TAILLE D'IMAGE (SI IMAGE)"
	},
    {
      "type": "range",
      "id": "image-width",
      "min": 10,
      "max": 210,
      "step": 2,
      "unit": "px",
      "label": "Taille de l'image",
      "default": 50
    }
  ],
	"blocks": [
	{
		"type": "select",
		"name": "Assurance",
		"settings": [
		{
			"id": "title",
			"type": "text",
			"label": "Titre de la carte",
			"default": "ASSURANCE"
		},
		{
			"id": "content",
			"type": "richtext",
			"label": "Contenu de la carte",
			"default": "<p>Tout ce que vous voulez, vous pouvez l'insérer ici.</p>"
		},
        {
            "type": "paragraph",
            "content": "ℹ️ L'image remplacera l'icone (Modifiez leur taille juste avant les appels de blocks)"
        },
        {
           "type": "select",
           "id": "icon-type",
           "options": [
              { "value": "s", "label": "Solid"},
              { "value": "r", "label": "Regular"},
              { "value": "b", "label": "Brand"}
           ],
           "label": "Type d'icone",
           "default": "s"
        },
		{
			"id": "icon",
			"type": "text",
			"label": "Nom de l'icone",
			"default": "child"
		},
		{
			"id": "image",
			"type": "image_picker",
			"label": "Insérer une image"
		},
		{
			"id": "alternative-text",
			"type": "text",
			"label": "Texte alternatif",
			"default": "mon-image"
		}
	  ]
	}
  ],
	"presets": [{
		"name": "🔧 Réassurances",
		"category": "Réassurances",
		"blocks": [
          { 
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          }
        ]
  }]
}
{% endschema %}


