{% style %}

#shopify-section-{{ section.id }} {
	background: -webkit-linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }}); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }});
	padding: {{ section.settings.phb }}px 0px
}

/* reviews slider */

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url(./ajax-loader.gif) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.reviews-container .slick-list.draggable {
	padding: 0px 60px;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide img.slick-loading {
  background: white url(./ajax-loader.gif) center center no-repeat;
  padding-bottom: 100%;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Arrows */
.reviews-container .slick-prev,
.reviews-container .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  font-weight: 700;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.reviews-container .slick-prev:focus,
.reviews-container .slick-next:focus {
  outline: none;
}
.reviews-container .slick-prev.slick-disabled:before,
.reviews-container .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.reviews-container .slick-prev:before, .reviews-container .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: {{ section.settings.arrow-color }};
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.review-slider .slick-arrow {
  border-radius: 50px;
  border: 2px solid {{ section.settings.arrow-color }};
  width: 30px;
  height: 30px;
  z-index: 1;
}

.reviews-container .slick-prev {
  left: 30px;
}
.reviews-container .slick-prev:before {
  content: '\2190';
}

.reviews-container .slick-next {
  right: 30px;
}
.reviews-container .slick-next:before {
  content: '\2192';
}

@media screen and (max-width: 600px) {
  .reviews-container .slick-prev {
    left: 10px;
  }
  .reviews-container .slick-next {
    right: 10px;
  }
}

/* Dots */
.reviews-container .slick-slider {
  margin-bottom: 30px;
}

.blue, html {
  background: #3498db;
  color: #fff;
}

.review-card {
  padding: 6px;
  color: {{ section.settings.content-color }};
  font-size: 14px;
}

.review-img, .svg-review {
  border-radius: {{ section.settings.img-radius }}px;
}

.stars {
  margin-top: 20px;
  display: flex;
  color: yellow;
  margin-bottom: 2px;
}

.review-card p {
  font-size: 14px;
}

.slick-slider {
	-ms-touch-action: pan-y;
    touch-action: pan-y;
}

{% endstyle %}

<div class="page-contain">
  {% if section.settings.title != blank %}
  <div class="page-width">
    <div class="section-header" style="
		text-align: {{ section.settings.align-title }};
	">
      <h{{ section.settings.title-tag }} class="section-header__title" style="
		color: {{ section.settings.titles-color }};
	  " data-aos="{{ settings.title-aos }}">
        {% if section.settings.favicon %}
        <img style="
          margin-bottom: {{ section.settings.favicon-mb }}px;
          margin-right: {{ section.settings.favicon-mr }}px;
        " width="{{ section.settings.favicon-size }}px" src="{{ section.settings.favicon.src | img_url: "720x" }}" />
      	{% endif %}
        {{ section.settings.title | escape }}
      </h{{ section.settings.title-tag }}>
      {% if section.settings.enable-bb %}
		<div style=" 
          border-bottom-style: solid;
          border-bottom-width: {{ section.settings.bbwidth }}px;
          width: {{ section.settings.bblength }}%;
          height: 100%;
          margin: {{ section.settings.bbmt }}px {% if section.settings.align-title == "center" %}auto{% else %}0{% endif %};
          border-bottom-color: {{ section.settings.bordercolor }};"
          data-aos="{{ settings.bb-aos }}"
		 >
         </div>
      {% endif %}
	  {% if section.settings.subtitle != blank %}
        <div class="rte" style="
			margin-top: {{ section.settings.hautsoustitre }}px;
			color: {{ section.settings.subtitlecolor }};
		" data-aos="{{ settings.soustitre-aos }}">
          <p>{{ section.settings.subtitle }}</p>
        </div>
      {% endif %}
      
      {% if section.settings.enable-startop %}
      <div class="startop" style="
		  display: flex;
		  align-items: center;
          justify-content: {{ section.settings.align-title }};
		  font-size: {{ section.settings.startop-size }}px;
		  margin: {{ section.settings.hautsous }}px 0;
	  " data-aos="{{ settings.etoile-aos }}">
        {% for i in (1..5) %}
          {% if i <= section.settings.startop %}
          <span class="fa fa-star" style="
              color: {{ section.settings.startop-color }};
          "></span>
          {% else %}
            {% assign t = i | minus: 1 %}
            {% if section.settings.startop > t and section.settings.startop < i %}
            <span class="fas fa-star-half-alt" style="
              color: {{ section.settings.startop-color }};
            "></span>
            {% else %}
            <span class="fa fa-star-o" style="
                color: {{ section.settings.startop-color }};
            "></span>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  
  <div class="reviews-container">
    <div class="slider review-slider">
      {% for block in section.blocks %}
      <div class="review-card">
        {% if block.settings.image %}
        	<img src="{{ block.settings.image.src | img_url: 'x600' }}" class="review-img" alt="{{ block.settings.image.alt }}" />
        {% else %}
        	{{ 'image' | placeholder_svg_tag: 'placeholder-svg svg-review' }}
        {% endif %}
        <div class="stars">
        {% for i in (1..5) %}
          {% if i <= block.settings.star %}
          <span class="fa fa-star" style="
              color: {{ section.settings.star-color }};
			  font-size: {{ section.settings.star-size }}
          "></span>
          {% else %}
            {% assign p = i | minus: 1 %}
            {% if block.settings.star > p and block.settings.star < i %}
            <span class="fas fa-star-half-alt" style="
              color: {{ section.settings.star-color }};
			  font-size: {{ section.settings.star-size }}
            "></span>
            {% else %}
            <span class="fa fa-star-o" style="
              color: {{ section.settings.star-color }};
			  font-size: {{ section.settings.star-size }}
            "></span>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
        <p>{{ block.settings.name }} {% if block.settings.validate-it %}<i style="color: {{ section.settings.validate-color }}" class="fa fa-check-circle"></i>{% endif %}</p>
        {{ block.settings.content }}
      </div>
      {% endfor %}
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Reviews Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"info": "La couleur du titre est éditable tout en bas.",
        "default": "Reviews Slider"
      },
      {
        "id": "subtitle",
        "type": "textarea",
        "label": "Sous-titre"
      },
      {
		"type": "header",
		"content": "🔹 CUSTOM"
      },
      {
        "id": "background-gradient1",
        "type": "color",
        "label": "Couleur de fond dégradé 1",
        "default": "#ffffff"
      },
      {
        "id": "background-gradient2",
        "type": "color",
        "label": "Couleur de fond dégradé 2",
        "default": "#ffffff"
      },
      {
        "type": "select",
        "id": "gradient-side",
        "options": [
          { "value": "to left", "label": "Droite > Gauche"},
          { "value": "to right", "label": "Gauche > Droite"},
          { "value": "to bottom", "label": "Haut > Bas"},
          { "value": "to top", "label": "Bas > Haut"}
        ],
        "label": "Orientation du dégradé",
        "default": "to right"
      },
      {
        "type": "range",
        "id": "phb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Marge Haut/bas de la section",
        "default": 25
      },
      {
        "type": "paragraph",
        "content": "🔸 TITRE / SOUS-TITRE GÉNÉRAL"
      },
      {
        "type": "select",
        "id": "align-title",
        "options": [
            { "value": "center", "label": "Centre"},
            { "value": "left", "label": "Gauche"}
        ],
        "label": "Alignement du titre",
        "default": "center"
      },
      {
        "type": "select",
        "id": "title-tag",
        "options": [
            { "value": "2", "label": "H2"},
            { "value": "3", "label": "H3"},
            { "value": "4", "label": "H4"},
            { "value": "5", "label": "H5"},
            { "value": "6", "label": "H6"}
        ],
        "label": "Balise titre",
        "default": "2"
      },
      {
        "type": "range",
        "id": "hautsoustitre",
        "min": -10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Marge haut/bas du sous-titre",
		"default": 0
      },
      {
        "type": "paragraph",
        "content": "🔸 BARRES DE TITRE"
      },
      {
        "type": "checkbox",
        "id": "enable-bb",
        "label": "Activer la barre sous le titre",
		"info": "La couleur de la barre est éditable tout en bas.",
		"default": false
      },
      {
        "type": "range",
        "id": "bbwidth",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Épaisseur de la barre sous le titre",
		"default": 2
      },
      {
        "type": "range",
        "id": "bblength",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Taille de la barre sous le titre",
		"default": 9
      },
      {
        "type": "range",
        "id": "bbmt",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Marge haut/bas barre sous le titre",
		"default": 15
      },
      {
        "type": "paragraph",
		"content": "🔸 IMAGE À GAUCHE DU TITRE"
      },
      {
        "id": "favicon",
        "type": "image_picker",
        "label": "Image à gauche du titre",
		"info": "Active l'image dès que sélectionné"
      },
      {
        "type": "range",
        "id": "favicon-size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Taille de l'image",
        "default": 25
      },
      {
        "type": "range",
        "id": "favicon-mb",
        "min": -10,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Marge du bas de l'image",
        "default": 0
      },
      {
        "type": "range",
        "id": "favicon-mr",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "Marge de droite de l'image",
        "default": 0
      },
      {
        "type": "paragraph",
		"content": "🔸 COULEURS"
      },
      {
        "id": "titles-color",
        "type": "color",
        "label": "Couleur du titre",
		"default": "#000000"
      },
      {
        "id": "bordercolor",
        "type": "color",
        "label": "Couleur de barre sous le titre",
        "default": "#000000"
      },
      {
        "id": "subtitlecolor",
        "type": "color",
        "label": "Couleur du sous-titre",
        "default": "#000000"
      },
      {
        "id": "arrow-color",
        "type": "color",
        "label": "Couleur des flèches",
        "default": "#000000"
      },
      {
		"type": "header",
		"content": "🔹 ÉTOILES GENERAL"
      },
      {
        "type": "checkbox",
        "id": "enable-startop",
        "label": "Activer les étoiles",
        "default": true
      },
      {
        "type": "range",
        "id": "startop",
        "min": 0,
        "max": 5,
        "step": 0.5,
        "unit": "★",
        "label": "Nombre d'étoiles /5",
        "default": 5
      },
      {
        "type": "range",
        "id": "startop-size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Taille des étoiles",
        "default": 21
      },
      {
        "type": "range",
        "id": "hautsous",
        "min": -10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Marge haut/bas des étoiles",
		"default": 0
      },
      {
         "id": "startop-color",
         "type": "color",
         "label": "Couleur des étoiles",
         "default": "#FFE325"
      },
      {
		"type": "header",
		"content": "🔹 REVIEWS CARDS"
      },
      {
		"type": "paragraph",
		"content": "🔸 IMAGES"
      },
      {
        "type": "range",
        "id": "img-radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Arrondi des images",
        "default": 7
      },
      {
		"type": "paragraph",
		"content": "🔸 ETOILES"
      },
      {
        "type": "range",
        "id": "star-size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Taille des étoiles",
        "default": 14
      },
      {
         "id": "star-color",
         "type": "color",
         "label": "Couleur des étoiles",
         "default": "#FFE325"
      },
      {
		"type": "paragraph",
		"content": "🔸 VALIDATION"
      },
      {
         "id": "validate-color",
         "type": "color",
         "label": "Couleur de l'icone de validation",
         "default": "#1A86E5"
      },
      {
		"type": "paragraph",
		"content": "🔸 CONTENU"
      },
      {
         "id": "content-color",
         "type": "color",
         "label": "Couleur du contenu",
         "default": "#000000"
      },
      {
		"type": "header",
		"content": "ℹ️ INFORMATION"
      },
      {
		"type": "paragraph",
		"content": "C'est normal si en mode édition vous avez des problèmes d'affichage. Cliquez sur enregistrer après avoir ajouté une nouvelle review ou modifé son design."
      }
    ],
    "blocks" : [
      {
        "type": "select",
        "name": "Review",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image Review"
          },
		  {
            "type": "text",
            "id": "name",
            "label": "Nom/Prénom",
            "default": "par John D."
          },
          {
              "type": "checkbox",
              "id": "validate-it",
              "label": "Activer la validation",
              "default": true
          },
          {
            "type": "range",
            "id": "star",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "unit": "★",
            "label": "Nombre d'étoiles /5",
            "default": 5
          },
          {
            "id": "content",
            "type": "richtext",
            "label": "Contenu",
            "default": "<p>''Écrivez le contenu de la review et tout ce qui vous semble cohérent.''</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews Slider",
        "category": "Avis",
		"blocks": [
          { 
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          },
          {
            "type": "select"
          }
        ]
      }
    ]
  }
{% endschema %}

