/* Sticky add to cart */

.sticky-title {
	display: none;
}

div#PageContainer {
	transform: unset;
}

.is-sticky .sticky-title {
	display: block;
}

.is-sticky .atc-container {
	top: unset!important;
    left: 0px;
    background: white;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%!important;
    position: fixed;
    z-index: 999;
}

.is-sticky .atc-container .product-form__cart-submit {
	margin: 0;
	max-width: 20em;
}

/* end Sticky add to cart */

<div class="atc-container">
    <button></button>
</div>
  
/* END STICKY ATC */

$(document).ready(function(){
  $('.atc-container').sticky({zIndex:999});
});
