{% style %}
#the-final-countdown {
  text-align: left;
  color: {{ settings.countdown-color }};
  padding: {{ settings.countdown-padding }}px 0px;
}

#the-final-countdown span {
  text-align: left;
  color: {{ settings.countdown-color-span }};
  {% if settings.countdown-gras %}
  font-weight: 800;
  {% endif %}
}
{% endstyle %}

<div id="the-final-countdown" data-aos="{{ settings.global-aos }}">
  <p style="margin:0;"><i class="fa fa-{{ settings.countdown-icon }}" style="color:{{ settings.countdown-color-icon }}"></i> {{ settings.text-before-countdown }} <span class="countdown"></span> {{ settings.text-after-countdown }}</p>
</div>

<script>
  // Countdown script start
  setInterval(function time(){
    var d = new Date();
    var hours = 23 - d.getHours();
    var min = 60 - d.getMinutes();
    
    if((min + '').length == 1){
      min = '0' + min;
    }
    var sec = 60 - d.getSeconds();
    if((sec + '').length == 1){
          sec = '0' + sec;
    }
    jQuery('#the-final-countdown .countdown').html(hours+' {{ settings.hours }} '+min+' {{ settings.minutes }} '+sec+' {{ settings.seconds }}')
  }, 1000);
  // Countdown script end
</script>
